In [1]:
####Columns need to be renamed or dropped depending on how we decide to use the information.


import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2002.csv")
two_thousand_two = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(two_thousand_two)
df

,NAICS CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,Employment Size of the Enterprise,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
1,--,Total,Firms,"5,697,759","770,041","2,695,606","1,010,804","613,880","5,090,331","508,249","82,334","5,680,914","16,845"
2,--,Total,Establishments,"7,200,770","771,135","2,699,380","1,024,081","652,930","5,147,526","692,775","332,508","6,172,809","1,027,961"
3,--,Total,Employment,"112,400,654",0,"5,697,652","6,639,666","8,246,053","20,583,371","19,874,069","15,908,852","56,366,292","56,034,362"
4,--,Total,"Annual Payroll ($1,000)","3,943,179,606","38,127,022","155,662,211","182,383,776","241,410,588","617,583,597","623,716,021","535,749,956","1,777,049,574","2,166,130,032"
5,--,Total,"Receipts ($1,000)","22,062,528,196","215,139,058","937,533,365","888,342,543","1,085,595,864","3,126,610,830","2,884,696,648","2,547,423,855","8,558,731,333","13,503,796,863"
6,11,"Agriculture, forestry, fishing, & hunting",Firms,"25,828","4,383","13,020","4,406","2,339","24,148","1,380",205,"25,733",95
7,11,"Agriculture, forestry, fishing, & hunting",Establishments,"26,552","4,383","13,026","4,412","2,362","24,183","1,493",376,"26,052",500
8,11,"Agriculture, forestry, fishing, & hunting",Employment,"181,162",0,"26,490","28,813","30,870","86,173","48,173",[k],[m],[j]
9,11,"Agriculture, forestry, fishing, & hunting","Annual Payroll ($1,000)","4,978,291","124,947","617,729","704,995","816,319","2,263,990","1,277,033",(D),(D),(D)
10,11,"Agriculture, forestry, fishing, & hunting","Receipts ($1,000)","25,873,138","961,761","4,251,622","3,526,593","3,597,124","12,337,100","5,864,036",(D),(D),(D)
11,113,Forestry and logging,Firms,"12,301","1,627","5,979","2,632","1,382","11,620",609,35,"12,264",37
12,113,Forestry and logging,Establishments,"12,509","1,627","5,981","2,636","1,384","11,628",630,38,"12,296",213
13,113,Forestry and logging,Employment,"75,822",0,"12,929","17,319","18,146","48,394","18,845","2,478","69,717","6,105"
14,113,Forestry and logging,"Annual Payroll ($1,000)","2,207,048","43,944","294,535","419,443","480,542","1,238,464","554,075","84,324","1,876,863","330,185"
15,113,Forestry and logging,"Receipts ($1,000)","11,235,337","366,646","2,048,753","2,090,877","2,075,072","6,581,348","2,495,669","401,475","9,478,492","1,756,845"
16,1131,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
17,1131,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
18,1131,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
19,1131,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
20,1131,Timber tract operations,"Receipts ($1,000)","1,112,163","24,049","201,641","152,818","95,088","473,596","188,002","29,485","691,083","421,080"
21,11311,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
22,11311,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
23,11311,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
24,11311,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
25,11311,Timber tract operations,"Receipts ($1,000)","1,112,163","24,049","201,641","152,818","95,088","473,596","188,002","29,485","691,083","421,080"
26,113110,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
27,113110,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
28,113110,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
29,113110,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,81394,Political organizations,Firms,"2,858",707,"1,650",269,141,"2,767",79,11,"2,857",1
10607,81394,Political organizations,Establishments,"2,864",707,"1,650",269,144,"2,770",81,12,"2,863",1
10608,81394,Political organizations,Employment,"11,580",[a],"3,105","1,746","1,837",[i],"2,809",[g],[j],[a]
10609,81394,Political organizations,"Annual Payroll ($1,000)","402,376",(D),"89,859","57,587","66,657",(D),"106,757",(D),(D),(D)
10610,81394,Political organizations,"Receipts ($1,000)","1,432,176",(D),"368,828","188,022","228,485",(D),"340,683",(D),(D),(D)
10611,813940,Political organizations,Firms,"2,858",707,"1,650",269,141,"2,767",79,11,"2,857",1
10612,813940,Political organizations,Establishments,"2,864",707,"1,650",269,144,"2,770",81,12,"2,863",1
10613,813940,Political organizations,Employment,"11,580",[a],"3,105","1,746","1,837",[i],"2,809",[g],[j],[a]
10614,813940,Political organizations,"Annual Payroll ($1,000)","402,376",(D),"89,859","57,587","66,657",(D),"106,757",(D),(D),(D)
10615,813940,Political organizations,"Receipts ($1,000)","1,432,176",(D),"368,828","188,022","228,485",(D),"340,683",(D),(D),(D)
10616,81399,"Other similar organizations (exc bus, prof, la...",Firms,"22,580","2,024","13,685","3,249","2,197","21,155","1,261",134,"22,550",30
10617,81399,"Other similar organizations (exc bus, prof, la...",Establishments,"22,874","2,024","13,686","3,252","2,205","21,167","1,337",281,"22,785",89
10618,81399,"Other similar organizations (exc bus, prof, la...",Employment,"143,426",0,"25,482","21,636","29,089","76,207","43,146","18,306","137,659","5,767"
10619,81399,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,892,929","33,277","528,653","540,011","748,715","1,850,656","1,120,480","669,317","3,640,453","252,476"
10620,81399,"Other similar organizations (exc bus, prof, la...","Receipts ($1,000)","15,985,424","223,152","2,729,872","2,388,153","3,011,058","8,352,235","4,292,022","2,186,333","14,830,590","1,154,834"
10621,813990,"Other similar organizations (exc bus, prof, la...",Firms,"22,580","2,024","13,685","3,249","2,197","21,155","1,261",134,"22,550",30
10622,813990,"Other similar organizations (exc bus, prof, la...",Establishments,"22,874","2,024","13,686","3,252","2,205","21,167","1,337",281,"22,785",89
10623,813990,"Other similar organizations (exc bus, prof, la...",Employment,"143,426",0,"25,482","21,636","29,089","76,207","43,146","18,306","137,659","5,767"
10624,813990,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,892,929","33,277","528,653","540,011","748,715","1,850,656","1,120,480","669,317","3,640,453","252,476"
10625,813990,"Other similar organizations (exc bus, prof, la...","Receipts ($1,000)","15,985,424","223,152","2,729,872","2,388,153","3,011,058","8,352,235","4,292,022","2,186,333","14,830,590","1,154,834"
10626,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Firms,"5,349",10,46,87,189,332,"1,088","1,674","3,094","2,255"
10627,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Establishments,"13,580",10,46,91,204,351,"1,198","2,091","3,640","9,940"
10628,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Employment,"1,011,496",0,[b],276,738,[g],"12,396","47,154",[l],[m]
10629,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Annual Payroll ($1,000)","52,670,905",443,(D),"14,439","32,995",(D),"503,645","1,913,740",(D),(D)
10630,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Receipts ($1,000)","40,333,007",609,(D),"18,388","88,419",(D),"630,288","3,800,802",(D),(D)
10631,99,Unclassified,Firms,"35,722","24,321","9,636","1,285",404,"35,646",68,7,"35,721",1
10632,99,Unclassified,Establishments,"35,722","24,321","9,636","1,285",404,"35,646",68,7,"35,721",1
10633,99,Unclassified,Employment,"32,769",0,[j],"8,164","5,289",[k],"2,100",[f],[k],[a]
10634,99,Unclassified,"Annual Payroll ($1,000)","960,381","532,592",(D),"89,741","72,659",(D),"56,474",(D),(D),(D)
10635,99,Unclassified,"Receipts ($1,000)","5,292,399","2,974,025",(D),"529,453","335,442",(D),"211,501",(D),(D),(D)

In [4]:
df.columns

Index(['NAICS CODE', 'NAICS DESCRIPTION', 'DATA TYPE', 'TOTAL',
       'Employment Size of the Enterprise', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

In [5]:
df=df.rename(columns={"Employment Size of the Enterprise": "0", "Unnamed: 5":"1-4", "Unnamed: 6":"5-9",
       "Unnamed: 7":"10-19", "Unnamed: 8":"<20", "Unnamed: 9":"20-99", "Unnamed: 10":"100-499", "Unnamed: 11":"<500",
       "Unnamed: 12":"500+"})

In [6]:
df

,NAICS CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
0,NaN,NaN,NaN,NaN,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
1,--,Total,Firms,"5,697,759","770,041","2,695,606","1,010,804","613,880","5,090,331","508,249","82,334","5,680,914","16,845"
2,--,Total,Establishments,"7,200,770","771,135","2,699,380","1,024,081","652,930","5,147,526","692,775","332,508","6,172,809","1,027,961"
3,--,Total,Employment,"112,400,654",0,"5,697,652","6,639,666","8,246,053","20,583,371","19,874,069","15,908,852","56,366,292","56,034,362"
4,--,Total,"Annual Payroll ($1,000)","3,943,179,606","38,127,022","155,662,211","182,383,776","241,410,588","617,583,597","623,716,021","535,749,956","1,777,049,574","2,166,130,032"
5,--,Total,"Receipts ($1,000)","22,062,528,196","215,139,058","937,533,365","888,342,543","1,085,595,864","3,126,610,830","2,884,696,648","2,547,423,855","8,558,731,333","13,503,796,863"
6,11,"Agriculture, forestry, fishing, & hunting",Firms,"25,828","4,383","13,020","4,406","2,339","24,148","1,380",205,"25,733",95
7,11,"Agriculture, forestry, fishing, & hunting",Establishments,"26,552","4,383","13,026","4,412","2,362","24,183","1,493",376,"26,052",500
8,11,"Agriculture, forestry, fishing, & hunting",Employment,"181,162",0,"26,490","28,813","30,870","86,173","48,173",[k],[m],[j]
9,11,"Agriculture, forestry, fishing, & hunting","Annual Payroll ($1,000)","4,978,291","124,947","617,729","704,995","816,319","2,263,990","1,277,033",(D),(D),(D)
10,11,"Agriculture, forestry, fishing, & hunting","Receipts ($1,000)","25,873,138","961,761","4,251,622","3,526,593","3,597,124","12,337,100","5,864,036",(D),(D),(D)
11,113,Forestry and logging,Firms,"12,301","1,627","5,979","2,632","1,382","11,620",609,35,"12,264",37
12,113,Forestry and logging,Establishments,"12,509","1,627","5,981","2,636","1,384","11,628",630,38,"12,296",213
13,113,Forestry and logging,Employment,"75,822",0,"12,929","17,319","18,146","48,394","18,845","2,478","69,717","6,105"
14,113,Forestry and logging,"Annual Payroll ($1,000)","2,207,048","43,944","294,535","419,443","480,542","1,238,464","554,075","84,324","1,876,863","330,185"
15,113,Forestry and logging,"Receipts ($1,000)","11,235,337","366,646","2,048,753","2,090,877","2,075,072","6,581,348","2,495,669","401,475","9,478,492","1,756,845"
16,1131,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
17,1131,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
18,1131,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
19,1131,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
20,1131,Timber tract operations,"Receipts ($1,000)","1,112,163","24,049","201,641","152,818","95,088","473,596","188,002","29,485","691,083","421,080"
21,11311,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
22,11311,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
23,11311,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
24,11311,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
25,11311,Timber tract operations,"Receipts ($1,000)","1,112,163","24,049","201,641","152,818","95,088","473,596","188,002","29,485","691,083","421,080"
26,113110,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
27,113110,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
28,113110,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
29,113110,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,81394,Political organizations,Firms,"2,858",707,"1,650",269,141,"2,767",79,11,"2,857",1
10607,81394,Political organizations,Establishments,"2,864",707,"1,650",269,144,"2,770",81,12,"2,863",1
10608,81394,Political organizations,Employment,"11,580",[a],"3,105","1,746","1,837",[i],"2,809",[g],[j],[a]
10609,81394,Political organizations,"Annual Payroll ($1,000)","402,376",(D),"89,859","57,587","66,657",(D),"106,757",(D),(D),(D)
10610,81394,Political organizations,"Receipts ($1,000)","1,432,176",(D),"368,828","188,022","228,485",(D),"340,683",(D),(D),(D)
10611,813940,Political organizations,Firms,"2,858",707,"1,650",269,141,"2,767",79,11,"2,857",1
10612,813940,Political organizations,Establishments,"2,864",707,"1,650",269,144,"2,770",81,12,"2,863",1
10613,813940,Political organizations,Employment,"11,580",[a],"3,105","1,746","1,837",[i],"2,809",[g],[j],[a]
10614,813940,Political organizations,"Annual Payroll ($1,000)","402,376",(D),"89,859","57,587","66,657",(D),"106,757",(D),(D),(D)
10615,813940,Political organizations,"Receipts ($1,000)","1,432,176",(D),"368,828","188,022","228,485",(D),"340,683",(D),(D),(D)
10616,81399,"Other similar organizations (exc bus, prof, la...",Firms,"22,580","2,024","13,685","3,249","2,197","21,155","1,261",134,"22,550",30
10617,81399,"Other similar organizations (exc bus, prof, la...",Establishments,"22,874","2,024","13,686","3,252","2,205","21,167","1,337",281,"22,785",89
10618,81399,"Other similar organizations (exc bus, prof, la...",Employment,"143,426",0,"25,482","21,636","29,089","76,207","43,146","18,306","137,659","5,767"
10619,81399,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,892,929","33,277","528,653","540,011","748,715","1,850,656","1,120,480","669,317","3,640,453","252,476"
10620,81399,"Other similar organizations (exc bus, prof, la...","Receipts ($1,000)","15,985,424","223,152","2,729,872","2,388,153","3,011,058","8,352,235","4,292,022","2,186,333","14,830,590","1,154,834"
10621,813990,"Other similar organizations (exc bus, prof, la...",Firms,"22,580","2,024","13,685","3,249","2,197","21,155","1,261",134,"22,550",30
10622,813990,"Other similar organizations (exc bus, prof, la...",Establishments,"22,874","2,024","13,686","3,252","2,205","21,167","1,337",281,"22,785",89
10623,813990,"Other similar organizations (exc bus, prof, la...",Employment,"143,426",0,"25,482","21,636","29,089","76,207","43,146","18,306","137,659","5,767"
10624,813990,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,892,929","33,277","528,653","540,011","748,715","1,850,656","1,120,480","669,317","3,640,453","252,476"
10625,813990,"Other similar organizations (exc bus, prof, la...","Receipts ($1,000)","15,985,424","223,152","2,729,872","2,388,153","3,011,058","8,352,235","4,292,022","2,186,333","14,830,590","1,154,834"
10626,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Firms,"5,349",10,46,87,189,332,"1,088","1,674","3,094","2,255"
10627,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Establishments,"13,580",10,46,91,204,351,"1,198","2,091","3,640","9,940"
10628,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Employment,"1,011,496",0,[b],276,738,[g],"12,396","47,154",[l],[m]
10629,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Annual Payroll ($1,000)","52,670,905",443,(D),"14,439","32,995",(D),"503,645","1,913,740",(D),(D)
10630,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Receipts ($1,000)","40,333,007",609,(D),"18,388","88,419",(D),"630,288","3,800,802",(D),(D)
10631,99,Unclassified,Firms,"35,722","24,321","9,636","1,285",404,"35,646",68,7,"35,721",1
10632,99,Unclassified,Establishments,"35,722","24,321","9,636","1,285",404,"35,646",68,7,"35,721",1
10633,99,Unclassified,Employment,"32,769",0,[j],"8,164","5,289",[k],"2,100",[f],[k],[a]
10634,99,Unclassified,"Annual Payroll ($1,000)","960,381","532,592",(D),"89,741","72,659",(D),"56,474",(D),(D),(D)
10635,99,Unclassified,"Receipts ($1,000)","5,292,399","2,974,025",(D),"529,453","335,442",(D),"211,501",(D),(D),(D)

In [7]:
df2002 = df.drop(df.index[0])

In [8]:
df2002

,NAICS CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
1,--,Total,Firms,"5,697,759","770,041","2,695,606","1,010,804","613,880","5,090,331","508,249","82,334","5,680,914","16,845"
2,--,Total,Establishments,"7,200,770","771,135","2,699,380","1,024,081","652,930","5,147,526","692,775","332,508","6,172,809","1,027,961"
3,--,Total,Employment,"112,400,654",0,"5,697,652","6,639,666","8,246,053","20,583,371","19,874,069","15,908,852","56,366,292","56,034,362"
4,--,Total,"Annual Payroll ($1,000)","3,943,179,606","38,127,022","155,662,211","182,383,776","241,410,588","617,583,597","623,716,021","535,749,956","1,777,049,574","2,166,130,032"
5,--,Total,"Receipts ($1,000)","22,062,528,196","215,139,058","937,533,365","888,342,543","1,085,595,864","3,126,610,830","2,884,696,648","2,547,423,855","8,558,731,333","13,503,796,863"
6,11,"Agriculture, forestry, fishing, & hunting",Firms,"25,828","4,383","13,020","4,406","2,339","24,148","1,380",205,"25,733",95
7,11,"Agriculture, forestry, fishing, & hunting",Establishments,"26,552","4,383","13,026","4,412","2,362","24,183","1,493",376,"26,052",500
8,11,"Agriculture, forestry, fishing, & hunting",Employment,"181,162",0,"26,490","28,813","30,870","86,173","48,173",[k],[m],[j]
9,11,"Agriculture, forestry, fishing, & hunting","Annual Payroll ($1,000)","4,978,291","124,947","617,729","704,995","816,319","2,263,990","1,277,033",(D),(D),(D)
10,11,"Agriculture, forestry, fishing, & hunting","Receipts ($1,000)","25,873,138","961,761","4,251,622","3,526,593","3,597,124","12,337,100","5,864,036",(D),(D),(D)
11,113,Forestry and logging,Firms,"12,301","1,627","5,979","2,632","1,382","11,620",609,35,"12,264",37
12,113,Forestry and logging,Establishments,"12,509","1,627","5,981","2,636","1,384","11,628",630,38,"12,296",213
13,113,Forestry and logging,Employment,"75,822",0,"12,929","17,319","18,146","48,394","18,845","2,478","69,717","6,105"
14,113,Forestry and logging,"Annual Payroll ($1,000)","2,207,048","43,944","294,535","419,443","480,542","1,238,464","554,075","84,324","1,876,863","330,185"
15,113,Forestry and logging,"Receipts ($1,000)","11,235,337","366,646","2,048,753","2,090,877","2,075,072","6,581,348","2,495,669","401,475","9,478,492","1,756,845"
16,1131,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
17,1131,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
18,1131,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
19,1131,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
20,1131,Timber tract operations,"Receipts ($1,000)","1,112,163","24,049","201,641","152,818","95,088","473,596","188,002","29,485","691,083","421,080"
21,11311,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
22,11311,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
23,11311,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
24,11311,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
25,11311,Timber tract operations,"Receipts ($1,000)","1,112,163","24,049","201,641","152,818","95,088","473,596","188,002","29,485","691,083","421,080"
26,113110,Timber tract operations,Firms,633,108,318,112,41,579,33,6,618,15
27,113110,Timber tract operations,Establishments,680,108,318,113,42,581,35,8,624,56
28,113110,Timber tract operations,Employment,"4,203",0,652,729,528,"1,909","1,004",250,"3,163","1,040"
29,113110,Timber tract operations,"Annual Payroll ($1,000)","158,214","1,889","16,880","22,206","15,346","56,321","35,500","6,492","98,313","59,901"
30,113110,Timber tract operations,"Receipts ($1,000)","1,112,163","24,049","201,641","152,818","95,088","473,596","188,002","29,485","691,083","421,080"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,81394,Political organizations,Firms,"2,858",707,"1,650",269,141,"2,767",79,11,"2,857",1
10607,81394,Political organizations,Establishments,"2,864",707,"1,650",269,144,"2,770",81,12,"2,863",1
10608,81394,Political organizations,Employment,"11,580",[a],"3,105","1,746","1,837",[i],"2,809",[g],[j],[a]
10609,81394,Political organizations,"Annual Payroll ($1,000)","402,376",(D),"89,859","57,587","66,657",(D),"106,757",(D),(D),(D)
10610,81394,Political organizations,"Receipts ($1,000)","1,432,176",(D),"368,828","188,022","228,485",(D),"340,683",(D),(D),(D)
10611,813940,Political organizations,Firms,"2,858",707,"1,650",269,141,"2,767",79,11,"2,857",1
10612,813940,Political organizations,Establishments,"2,864",707,"1,650",269,144,"2,770",81,12,"2,863",1
10613,813940,Political organizations,Employment,"11,580",[a],"3,105","1,746","1,837",[i],"2,809",[g],[j],[a]
10614,813940,Political organizations,"Annual Payroll ($1,000)","402,376",(D),"89,859","57,587","66,657",(D),"106,757",(D),(D),(D)
10615,813940,Political organizations,"Receipts ($1,000)","1,432,176",(D),"368,828","188,022","228,485",(D),"340,683",(D),(D),(D)
10616,81399,"Other similar organizations (exc bus, prof, la...",Firms,"22,580","2,024","13,685","3,249","2,197","21,155","1,261",134,"22,550",30
10617,81399,"Other similar organizations (exc bus, prof, la...",Establishments,"22,874","2,024","13,686","3,252","2,205","21,167","1,337",281,"22,785",89
10618,81399,"Other similar organizations (exc bus, prof, la...",Employment,"143,426",0,"25,482","21,636","29,089","76,207","43,146","18,306","137,659","5,767"
10619,81399,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,892,929","33,277","528,653","540,011","748,715","1,850,656","1,120,480","669,317","3,640,453","252,476"
10620,81399,"Other similar organizations (exc bus, prof, la...","Receipts ($1,000)","15,985,424","223,152","2,729,872","2,388,153","3,011,058","8,352,235","4,292,022","2,186,333","14,830,590","1,154,834"
10621,813990,"Other similar organizations (exc bus, prof, la...",Firms,"22,580","2,024","13,685","3,249","2,197","21,155","1,261",134,"22,550",30
10622,813990,"Other similar organizations (exc bus, prof, la...",Establishments,"22,874","2,024","13,686","3,252","2,205","21,167","1,337",281,"22,785",89
10623,813990,"Other similar organizations (exc bus, prof, la...",Employment,"143,426",0,"25,482","21,636","29,089","76,207","43,146","18,306","137,659","5,767"
10624,813990,"Other similar organizations (exc bus, prof, la...","Annual Payroll ($1,000)","3,892,929","33,277","528,653","540,011","748,715","1,850,656","1,120,480","669,317","3,640,453","252,476"
10625,813990,"Other similar organizations (exc bus, prof, la...","Receipts ($1,000)","15,985,424","223,152","2,729,872","2,388,153","3,011,058","8,352,235","4,292,022","2,186,333","14,830,590","1,154,834"
10626,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Firms,"5,349",10,46,87,189,332,"1,088","1,674","3,094","2,255"
10627,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Establishments,"13,580",10,46,91,204,351,"1,198","2,091","3,640","9,940"
10628,95,"Auxiliaries, exc corp, subsidiary, & regional ...",Employment,"1,011,496",0,[b],276,738,[g],"12,396","47,154",[l],[m]
10629,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Annual Payroll ($1,000)","52,670,905",443,(D),"14,439","32,995",(D),"503,645","1,913,740",(D),(D)
10630,95,"Auxiliaries, exc corp, subsidiary, & regional ...","Receipts ($1,000)","40,333,007",609,(D),"18,388","88,419",(D),"630,288","3,800,802",(D),(D)
10631,99,Unclassified,Firms,"35,722","24,321","9,636","1,285",404,"35,646",68,7,"35,721",1
10632,99,Unclassified,Establishments,"35,722","24,321","9,636","1,285",404,"35,646",68,7,"35,721",1
10633,99,Unclassified,Employment,"32,769",0,[j],"8,164","5,289",[k],"2,100",[f],[k],[a]
10634,99,Unclassified,"Annual Payroll ($1,000)","960,381","532,592",(D),"89,741","72,659",(D),"56,474",(D),(D),(D)
10635,99,Unclassified,"Receipts ($1,000)","5,292,399","2,974,025",(D),"529,453","335,442",(D),"211,501",(D),(D),(D)

In [9]:
df2002=df2002.loc[df2002['NAICS CODE'].isin(["442", "443","4451","448"])]

In [10]:
df2002

,NAICS CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
5611,442,Furniture & home furnishings stores,Firms,"49,846","5,247","23,042","11,246","6,308","45,843","3,404",425,"49,672",174
5612,442,Furniture & home furnishings stores,Establishments,"66,360","5,255","23,081","11,553","7,355","47,244","6,509","3,193","56,946","9,414"
5613,442,Furniture & home furnishings stores,Employment,"551,567",0,"52,727","73,848","82,276","208,851","109,938","51,988","370,777","180,790"
5614,442,Furniture & home furnishings stores,"Annual Payroll ($1,000)","13,764,754","173,066","1,088,945","1,738,932","2,219,170","5,220,113","3,315,097","1,628,380","10,163,590","3,601,164"
5615,442,Furniture & home furnishings stores,"Receipts ($1,000)","97,073,126","1,568,535","9,083,591","11,161,806","12,815,000","34,628,932","19,110,523","11,494,884","65,234,339","31,838,787"
5661,443,Electronics & appliance stores,Firms,"34,012","4,688","16,950","6,725","3,468","31,831","1,834",229,"33,894",118
5662,443,Electronics & appliance stores,Establishments,"49,600","4,711","17,020","6,943","4,076","32,750","3,435","1,827","38,012","11,588"
5663,443,Electronics & appliance stores,Employment,"418,725",0,"37,830","43,876","45,158","126,864","58,597","22,582","208,043","210,682"
5664,443,Electronics & appliance stores,"Annual Payroll ($1,000)","11,608,791","168,216","776,325","1,042,834","1,255,462","3,242,837","2,093,332","861,588","6,197,757","5,411,034"
5665,443,Electronics & appliance stores,"Receipts ($1,000)","92,280,756","1,408,544","5,691,210","6,224,857","6,947,106","20,271,717","11,491,484","5,788,203","37,551,404","54,729,352"
5786,4451,Grocery stores,Firms,"69,694","9,770","32,019","11,310","7,604","60,703","7,324","1,271","69,298",396
5787,4451,Grocery stores,Establishments,"97,166","9,774","32,048","11,376","7,833","61,031","8,476","3,912","73,419","23,747"
5788,4451,Grocery stores,Employment,"2,569,351",0,"69,884","74,220","101,553","245,657","288,687","206,975","741,319","1,828,032"
5789,4451,Grocery stores,"Annual Payroll ($1,000)","44,879,366","248,465","918,232","900,529","1,251,101","3,318,327","4,117,368","3,297,351","10,733,046","34,146,320"
5790,4451,Grocery stores,"Receipts ($1,000)","418,033,504","3,153,787","13,022,161","10,486,736","12,411,266","39,073,950","34,953,994","28,011,986","102,039,930","315,993,574"
5966,448,Clothing & clothing accessories stores,Firms,"69,030","8,648","36,567","14,156","5,989","65,360","2,916",443,"68,719",311
5967,448,Clothing & clothing accessories stores,Establishments,"151,895","8,669","36,708","14,568","7,064","67,009","6,497","5,418","78,924","72,971"
5968,448,Clothing & clothing accessories stores,Employment,"1,408,948",0,"81,719","91,672","77,265","250,656","93,592","59,789","404,037","1,004,911"
5969,448,Clothing & clothing accessories stores,"Annual Payroll ($1,000)","21,939,932","178,156","1,329,743","1,623,554","1,503,774","4,635,227","1,911,965","1,083,272","7,630,464","14,309,468"
5970,448,Clothing & clothing accessories stores,"Receipts ($1,000)","170,396,483","1,837,439","10,845,757","10,123,983","8,600,945","31,408,124","10,919,821","7,329,819","49,657,764","120,738,719"

In [11]:
len(df2002)

20

In [12]:
t=df2002.loc[(df2002['DATA TYPE'] == "Establishments")|(df2002['DATA TYPE'] == "Employment") & (df2002['NAICS CODE'].isin(["442","443","4451","448"]))]
t

,NAICS CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,100-499,<500,500+
5612,442,Furniture & home furnishings stores,Establishments,"66,360","5,255","23,081","11,553","7,355","47,244","6,509","3,193","56,946","9,414"
5613,442,Furniture & home furnishings stores,Employment,"551,567",0,"52,727","73,848","82,276","208,851","109,938","51,988","370,777","180,790"
5662,443,Electronics & appliance stores,Establishments,"49,600","4,711","17,020","6,943","4,076","32,750","3,435","1,827","38,012","11,588"
5663,443,Electronics & appliance stores,Employment,"418,725",0,"37,830","43,876","45,158","126,864","58,597","22,582","208,043","210,682"
5787,4451,Grocery stores,Establishments,"97,166","9,774","32,048","11,376","7,833","61,031","8,476","3,912","73,419","23,747"
5788,4451,Grocery stores,Employment,"2,569,351",0,"69,884","74,220","101,553","245,657","288,687","206,975","741,319","1,828,032"
5967,448,Clothing & clothing accessories stores,Establishments,"151,895","8,669","36,708","14,568","7,064","67,009","6,497","5,418","78,924","72,971"
5968,448,Clothing & clothing accessories stores,Employment,"1,408,948",0,"81,719","91,672","77,265","250,656","93,592","59,789","404,037","1,004,911"

In [13]:
newdf2002 = t[t.columns[:2]]
newdf2002

     NAICS CODE                       NAICS DESCRIPTION
5612        442     Furniture & home furnishings stores
5613        442     Furniture & home furnishings stores
5662        443          Electronics & appliance stores
5663        443          Electronics & appliance stores
5787       4451                          Grocery stores
5788       4451                          Grocery stores
5967        448  Clothing & clothing accessories stores
5968        448  Clothing & clothing accessories stores

In [14]:
 #makes Data Type column into seperate columns
testing = t.pivot(index="NAICS CODE",columns='DATA TYPE', values='TOTAL')
testing

DATA TYPE  Employment Establishments
NAICS CODE
442           551,567         66,360
443           418,725         49,600
4451        2,569,351         97,166
448         1,408,948        151,895

In [15]:
mergedf=pd.merge(newdf2002, testing, how='left', on='NAICS CODE')
final=mergedf.drop_duplicates(subset=['NAICS CODE'])
#mergedf.rename(columns={'NAICS CODE': "CODE", 'Employment': 'Employment_2002','Establishments':'Establishments_2002'})

In [16]:
final

  NAICS CODE                       NAICS DESCRIPTION Employment Establishments
0        442     Furniture & home furnishings stores    551,567         66,360
2        443          Electronics & appliance stores    418,725         49,600
4       4451                          Grocery stores  2,569,351         97,166
6        448  Clothing & clothing accessories stores  1,408,948        151,895

In [17]:
final2002=final.rename(columns={'NAICS CODE': "CODE", 'Employment': 'Employment_2002','Establishments':'Establishments_2002'})
final2002

,CODE,NAICS DESCRIPTION,Employment_2002,Establishments_2002
0,442,Furniture & home furnishings stores,"551,567","66,360"
2,443,Electronics & appliance stores,"418,725","49,600"
4,4451,Grocery stores,"2,569,351","97,166"
6,448,Clothing & clothing accessories stores,"1,408,948","151,895"

In [18]:
#save the final datatframe as a csvfile
final2002.to_csv("Output/2002_cleandata.csv",header=True,index=False)