In [1]:
####Columns need to be renamed or dropped depending on how we decide to use the information.


import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2004.csv")
two_thousand_four = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(two_thousand_four)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Employment Size of the Enterprise,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NAICS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,Total,Firms,"5,885,784","802,034","2,777,680","1,043,448","632,682","5,255,844","526,355",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,Establishments,"7,387,724","803,355","2,782,252","1,055,937","666,574","5,308,118","692,677",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,Employment,"115,074,924",0,"5,844,637","6,852,769","8,499,681","21,197,087","20,642,614",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,"Annual Payroll ($1,000)","4,253,995,732","40,043,549","165,904,564","195,519,100","257,802,789","659,270,002","670,418,442",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,"24,873","4,391","12,331","4,209","2,203","23,134","1,431",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Establishments,"25,528","4,391","12,342","4,215","2,212","23,160","1,505",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Employment,"182,121",0,"24,985","27,667","29,111","81,763",[k],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,"Forestry, Fishing, Hunting, and Agriculture Su...","Annual Payroll ($1,000)","5,224,036","141,543","611,140","731,548","809,663","2,293,894",(D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,113,Forestry and Logging,Firms,"11,518","1,485","5,485","2,478","1,348","10,796",652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,113,Forestry and Logging,Establishments,"11,707","1,485","5,490","2,479","1,348","10,802",666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,113,Forestry and Logging,Employment,"75,966",0,"12,000","16,399","17,813","46,212","20,287",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,113,Forestry and Logging,"Annual Payroll ($1,000)","2,312,516","49,896","281,504","427,508","503,101","1,262,009","590,062",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1131,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1131,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1131,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1131,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11311,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11311,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11311,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,11311,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113110,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113110,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113110,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113110,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1132,Forest Nurseries and Gathering of Forest Products,Firms,211,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1132,Forest Nurseries and Gathering of Forest Products,Establishments,260,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1132,Forest Nurseries and Gathering of Forest Products,Employment,"1,936",0,170,211,315,696,415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1132,Forest Nurseries and Gathering of Forest Products,"Annual Payroll ($1,000)","64,102","1,669","4,130","6,067","7,423","19,289","7,336",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8564,813920,Professional Organizations,Employment,"75,694",0,"8,363","7,466","8,710","24,539","22,608",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8565,813920,Professional Organizations,"Annual Payroll ($1,000)","3,727,442","17,947","301,157","304,028","377,232","1,000,364","1,097,545",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8566,81393,Labor Unions and Similar Labor Organizations,Firms,"15,453",756,"6,068","3,967","3,006","13,797","1,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8567,81393,Labor Unions and Similar Labor Organizations,Establishments,"16,169",756,"6,069","3,983","3,038","13,846","1,678",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8568,81393,Labor Unions and Similar Labor Organizations,Employment,"178,819",0,"14,665","26,506","40,142","81,313","53,403",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8569,81393,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,636,755","25,053","308,556","472,507","682,215","1,488,331","1,363,757",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8570,813930,Labor Unions and Similar Labor Organizations,Firms,"15,453",756,"6,068","3,967","3,006","13,797","1,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8571,813930,Labor Unions and Similar Labor Organizations,Establishments,"16,169",756,"6,069","3,983","3,038","13,846","1,678",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8572,813930,Labor Unions and Similar Labor Organizations,Employment,"178,819",0,"14,665","26,506","40,142","81,313","53,403",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8573,813930,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,636,755","25,053","308,556","472,507","682,215","1,488,331","1,363,757",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8574,81394,Political Organizations,Firms,"2,910",636,"1,711",318,134,"2,799",97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8575,81394,Political Organizations,Establishments,"2,919",636,"1,711",318,136,"2,801",98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8576,81394,Political Organizations,Employment,"15,112",0,"3,304","2,082","1,710","7,096","3,803",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8577,81394,Political Organizations,"Annual Payroll ($1,000)","576,240","39,960","98,802","72,185","64,943","275,890","131,730",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8578,813940,Political Organizations,Firms,"2,910",636,"1,711",318,134,"2,799",97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8579,813940,Political Organizations,Establishments,"2,919",636,"1,711",318,136,"2,801",98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8580,813940,Political Organizations,Employment,"15,112",0,"3,304","2,082","1,710","7,096","3,803",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8581,813940,Political Organizations,"Annual Payroll ($1,000)","576,240","39,960","98,802","72,185","64,943","275,890","131,730",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8582,81399,"Other Similar Organizations (except Business, ...",Firms,"21,891","1,852","13,350","3,259","2,103","20,564","1,176",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8583,81399,"Other Similar Organizations (except Business, ...",Establishments,"22,169","1,852","13,351","3,259","2,114","20,576","1,267",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8584,81399,"Other Similar Organizations (except Business, ...",Employment,"140,460",0,"24,934","21,705","28,111","74,750","40,595",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8585,81399,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","3,930,570","33,530","543,781","552,530","762,776","1,892,617","1,086,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8586,813990,"Other Similar Organizations (except Business, ...",Firms,"21,891","1,852","13,350","3,259","2,103","20,564","1,176",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8587,813990,"Other Similar Organizations (except Business, ...",Establishments,"22,169","1,852","13,351","3,259","2,114","20,576","1,267",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8588,813990,"Other Similar Organizations (except Business, ...",Employment,"140,460",0,"24,934","21,705","28,111","74,750","40,595",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8589,813990,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","3,930,570","33,530","543,781","552,530","762,776","1,892,617","1,086,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8590,99,Unclassified,Firms,"41,157","19,512","18,885","2,115",474,"40,986",166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8591,99,Unclassified,Establishments,"41,157","19,512","18,885","2,115",474,"40,986",166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8592,99,Unclassified,Employment,"54,978",0,"31,057","12,851","6,083","49,991",[h],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8593,99,Unclassified,"Annual Payroll ($1,000)","1,079,589","354,682","416,149","163,679","78,252","1,012,762",(D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df2004 = df.rename(columns=df.iloc[1]).drop(df.index[0])
df2004

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,Total,Firms,"5,885,784","802,034","2,777,680","1,043,448","632,682","5,255,844","526,355",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,Establishments,"7,387,724","803,355","2,782,252","1,055,937","666,574","5,308,118","692,677",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,Employment,"115,074,924",0,"5,844,637","6,852,769","8,499,681","21,197,087","20,642,614",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,"Annual Payroll ($1,000)","4,253,995,732","40,043,549","165,904,564","195,519,100","257,802,789","659,270,002","670,418,442",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,"24,873","4,391","12,331","4,209","2,203","23,134","1,431",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Establishments,"25,528","4,391","12,342","4,215","2,212","23,160","1,505",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Employment,"182,121",0,"24,985","27,667","29,111","81,763",[k],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,"Forestry, Fishing, Hunting, and Agriculture Su...","Annual Payroll ($1,000)","5,224,036","141,543","611,140","731,548","809,663","2,293,894",(D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,113,Forestry and Logging,Firms,"11,518","1,485","5,485","2,478","1,348","10,796",652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,113,Forestry and Logging,Establishments,"11,707","1,485","5,490","2,479","1,348","10,802",666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,113,Forestry and Logging,Employment,"75,966",0,"12,000","16,399","17,813","46,212","20,287",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,113,Forestry and Logging,"Annual Payroll ($1,000)","2,312,516","49,896","281,504","427,508","503,101","1,262,009","590,062",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1131,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1131,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1131,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1131,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11311,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11311,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11311,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,11311,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113110,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113110,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113110,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113110,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1132,Forest Nurseries and Gathering of Forest Products,Firms,211,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1132,Forest Nurseries and Gathering of Forest Products,Establishments,260,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1132,Forest Nurseries and Gathering of Forest Products,Employment,"1,936",0,170,211,315,696,415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1132,Forest Nurseries and Gathering of Forest Products,"Annual Payroll ($1,000)","64,102","1,669","4,130","6,067","7,423","19,289","7,336",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,11321,Forest Nurseries and Gathering of Forest Products,Firms,211,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8564,813920,Professional Organizations,Employment,"75,694",0,"8,363","7,466","8,710","24,539","22,608",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8565,813920,Professional Organizations,"Annual Payroll ($1,000)","3,727,442","17,947","301,157","304,028","377,232","1,000,364","1,097,545",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8566,81393,Labor Unions and Similar Labor Organizations,Firms,"15,453",756,"6,068","3,967","3,006","13,797","1,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8567,81393,Labor Unions and Similar Labor Organizations,Establishments,"16,169",756,"6,069","3,983","3,038","13,846","1,678",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8568,81393,Labor Unions and Similar Labor Organizations,Employment,"178,819",0,"14,665","26,506","40,142","81,313","53,403",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8569,81393,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,636,755","25,053","308,556","472,507","682,215","1,488,331","1,363,757",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8570,813930,Labor Unions and Similar Labor Organizations,Firms,"15,453",756,"6,068","3,967","3,006","13,797","1,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8571,813930,Labor Unions and Similar Labor Organizations,Establishments,"16,169",756,"6,069","3,983","3,038","13,846","1,678",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8572,813930,Labor Unions and Similar Labor Organizations,Employment,"178,819",0,"14,665","26,506","40,142","81,313","53,403",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8573,813930,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,636,755","25,053","308,556","472,507","682,215","1,488,331","1,363,757",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8574,81394,Political Organizations,Firms,"2,910",636,"1,711",318,134,"2,799",97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8575,81394,Political Organizations,Establishments,"2,919",636,"1,711",318,136,"2,801",98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8576,81394,Political Organizations,Employment,"15,112",0,"3,304","2,082","1,710","7,096","3,803",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8577,81394,Political Organizations,"Annual Payroll ($1,000)","576,240","39,960","98,802","72,185","64,943","275,890","131,730",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8578,813940,Political Organizations,Firms,"2,910",636,"1,711",318,134,"2,799",97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8579,813940,Political Organizations,Establishments,"2,919",636,"1,711",318,136,"2,801",98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8580,813940,Political Organizations,Employment,"15,112",0,"3,304","2,082","1,710","7,096","3,803",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8581,813940,Political Organizations,"Annual Payroll ($1,000)","576,240","39,960","98,802","72,185","64,943","275,890","131,730",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8582,81399,"Other Similar Organizations (except Business, ...",Firms,"21,891","1,852","13,350","3,259","2,103","20,564","1,176",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8583,81399,"Other Similar Organizations (except Business, ...",Establishments,"22,169","1,852","13,351","3,259","2,114","20,576","1,267",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8584,81399,"Other Similar Organizations (except Business, ...",Employment,"140,460",0,"24,934","21,705","28,111","74,750","40,595",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8585,81399,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","3,930,570","33,530","543,781","552,530","762,776","1,892,617","1,086,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8586,813990,"Other Similar Organizations (except Business, ...",Firms,"21,891","1,852","13,350","3,259","2,103","20,564","1,176",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8587,813990,"Other Similar Organizations (except Business, ...",Establishments,"22,169","1,852","13,351","3,259","2,114","20,576","1,267",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8588,813990,"Other Similar Organizations (except Business, ...",Employment,"140,460",0,"24,934","21,705","28,111","74,750","40,595",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8589,813990,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","3,930,570","33,530","543,781","552,530","762,776","1,892,617","1,086,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8590,99,Unclassified,Firms,"41,157","19,512","18,885","2,115",474,"40,986",166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8591,99,Unclassified,Establishments,"41,157","19,512","18,885","2,115",474,"40,986",166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8592,99,Unclassified,Employment,"54,978",0,"31,057","12,851","6,083","49,991",[h],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8593,99,Unclassified,"Annual Payroll ($1,000)","1,079,589","354,682","416,149","163,679","78,252","1,012,762",(D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df4=df2004.drop(df2004.index[0])
df4

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,--,Total,Firms,"5,885,784","802,034","2,777,680","1,043,448","632,682","5,255,844","526,355",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,Establishments,"7,387,724","803,355","2,782,252","1,055,937","666,574","5,308,118","692,677",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,Employment,"115,074,924",0,"5,844,637","6,852,769","8,499,681","21,197,087","20,642,614",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,"Annual Payroll ($1,000)","4,253,995,732","40,043,549","165,904,564","195,519,100","257,802,789","659,270,002","670,418,442",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Firms,"24,873","4,391","12,331","4,209","2,203","23,134","1,431",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Establishments,"25,528","4,391","12,342","4,215","2,212","23,160","1,505",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,11,"Forestry, Fishing, Hunting, and Agriculture Su...",Employment,"182,121",0,"24,985","27,667","29,111","81,763",[k],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,11,"Forestry, Fishing, Hunting, and Agriculture Su...","Annual Payroll ($1,000)","5,224,036","141,543","611,140","731,548","809,663","2,293,894",(D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,113,Forestry and Logging,Firms,"11,518","1,485","5,485","2,478","1,348","10,796",652,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,113,Forestry and Logging,Establishments,"11,707","1,485","5,490","2,479","1,348","10,802",666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,113,Forestry and Logging,Employment,"75,966",0,"12,000","16,399","17,813","46,212","20,287",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,113,Forestry and Logging,"Annual Payroll ($1,000)","2,312,516","49,896","281,504","427,508","503,101","1,262,009","590,062",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1131,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1131,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1131,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1131,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11311,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11311,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11311,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,11311,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113110,Timber Tract Operations,Firms,473,73,257,60,39,429,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113110,Timber Tract Operations,Establishments,521,73,257,61,39,430,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113110,Timber Tract Operations,Employment,"5,023",0,487,393,498,"1,378",490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113110,Timber Tract Operations,"Annual Payroll ($1,000)","209,978","2,424","13,978","13,562","18,513","48,477","22,261",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1132,Forest Nurseries and Gathering of Forest Products,Firms,211,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1132,Forest Nurseries and Gathering of Forest Products,Establishments,260,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1132,Forest Nurseries and Gathering of Forest Products,Employment,"1,936",0,170,211,315,696,415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1132,Forest Nurseries and Gathering of Forest Products,"Annual Payroll ($1,000)","64,102","1,669","4,130","6,067","7,423","19,289","7,336",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,11321,Forest Nurseries and Gathering of Forest Products,Firms,211,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,11321,Forest Nurseries and Gathering of Forest Products,Establishments,260,48,86,32,25,191,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8564,813920,Professional Organizations,Employment,"75,694",0,"8,363","7,466","8,710","24,539","22,608",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8565,813920,Professional Organizations,"Annual Payroll ($1,000)","3,727,442","17,947","301,157","304,028","377,232","1,000,364","1,097,545",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8566,81393,Labor Unions and Similar Labor Organizations,Firms,"15,453",756,"6,068","3,967","3,006","13,797","1,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8567,81393,Labor Unions and Similar Labor Organizations,Establishments,"16,169",756,"6,069","3,983","3,038","13,846","1,678",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8568,81393,Labor Unions and Similar Labor Organizations,Employment,"178,819",0,"14,665","26,506","40,142","81,313","53,403",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8569,81393,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,636,755","25,053","308,556","472,507","682,215","1,488,331","1,363,757",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8570,813930,Labor Unions and Similar Labor Organizations,Firms,"15,453",756,"6,068","3,967","3,006","13,797","1,480",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8571,813930,Labor Unions and Similar Labor Organizations,Establishments,"16,169",756,"6,069","3,983","3,038","13,846","1,678",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8572,813930,Labor Unions and Similar Labor Organizations,Employment,"178,819",0,"14,665","26,506","40,142","81,313","53,403",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8573,813930,Labor Unions and Similar Labor Organizations,"Annual Payroll ($1,000)","4,636,755","25,053","308,556","472,507","682,215","1,488,331","1,363,757",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8574,81394,Political Organizations,Firms,"2,910",636,"1,711",318,134,"2,799",97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8575,81394,Political Organizations,Establishments,"2,919",636,"1,711",318,136,"2,801",98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8576,81394,Political Organizations,Employment,"15,112",0,"3,304","2,082","1,710","7,096","3,803",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8577,81394,Political Organizations,"Annual Payroll ($1,000)","576,240","39,960","98,802","72,185","64,943","275,890","131,730",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8578,813940,Political Organizations,Firms,"2,910",636,"1,711",318,134,"2,799",97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8579,813940,Political Organizations,Establishments,"2,919",636,"1,711",318,136,"2,801",98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8580,813940,Political Organizations,Employment,"15,112",0,"3,304","2,082","1,710","7,096","3,803",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8581,813940,Political Organizations,"Annual Payroll ($1,000)","576,240","39,960","98,802","72,185","64,943","275,890","131,730",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8582,81399,"Other Similar Organizations (except Business, ...",Firms,"21,891","1,852","13,350","3,259","2,103","20,564","1,176",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8583,81399,"Other Similar Organizations (except Business, ...",Establishments,"22,169","1,852","13,351","3,259","2,114","20,576","1,267",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8584,81399,"Other Similar Organizations (except Business, ...",Employment,"140,460",0,"24,934","21,705","28,111","74,750","40,595",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8585,81399,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","3,930,570","33,530","543,781","552,530","762,776","1,892,617","1,086,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8586,813990,"Other Similar Organizations (except Business, ...",Firms,"21,891","1,852","13,350","3,259","2,103","20,564","1,176",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8587,813990,"Other Similar Organizations (except Business, ...",Establishments,"22,169","1,852","13,351","3,259","2,114","20,576","1,267",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8588,813990,"Other Similar Organizations (except Business, ...",Employment,"140,460",0,"24,934","21,705","28,111","74,750","40,595",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8589,813990,"Other Similar Organizations (except Business, ...","Annual Payroll ($1,000)","3,930,570","33,530","543,781","552,530","762,776","1,892,617","1,086,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8590,99,Unclassified,Firms,"41,157","19,512","18,885","2,115",474,"40,986",166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8591,99,Unclassified,Establishments,"41,157","19,512","18,885","2,115",474,"40,986",166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8592,99,Unclassified,Employment,"54,978",0,"31,057","12,851","6,083","49,991",[h],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8593,99,Unclassified,"Annual Payroll ($1,000)","1,079,589","354,682","416,149","163,679","78,252","1,012,762",(D),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df4=df4.loc[df4['CODE'].isin(["442", "443","4451","448"])]

In [7]:
df4

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4510,442,Furniture and Home Furnishings Stores,Firms,"48,882","5,054","22,759","10,932","6,078","44,823","3,428",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4511,442,Furniture and Home Furnishings Stores,Establishments,"65,728","5,068","22,812","11,193","6,858","45,931","6,200",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4512,442,Furniture and Home Furnishings Stores,Employment,"576,733",0,"52,032","71,587","79,349","202,968","114,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4513,442,Furniture and Home Furnishings Stores,"Annual Payroll ($1,000)","14,548,324","147,678","1,086,213","1,698,181","2,135,025","5,067,097","3,390,221",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4550,443,Electronics and Appliance Stores,Firms,"31,883","4,400","15,923","6,475","3,180","29,978","1,637",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4551,443,Electronics and Appliance Stores,Establishments,"49,020","4,425","15,977","6,631","3,680","30,713","3,138",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4552,443,Electronics and Appliance Stores,Employment,"457,819",0,"35,058","42,199","41,217","118,474","51,947",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4553,443,Electronics and Appliance Stores,"Annual Payroll ($1,000)","10,982,635","147,389","740,110","998,441","1,136,626","3,022,566","1,612,282",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4650,4451,Grocery Stores,Firms,"68,584","9,543","31,573","10,695","7,327","59,138","7,713",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4651,4451,Grocery Stores,Establishments,"96,130","9,554","31,595","10,753","7,495","59,397","8,870",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4652,4451,Grocery Stores,Employment,"2,660,804",0,"68,716","70,056","98,308","237,080","300,328",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4653,4451,Grocery Stores,"Annual Payroll ($1,000)","46,837,956","256,872","917,746","860,801","1,233,487","3,268,906","4,289,908",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4794,448,Clothing and Clothing Accessories Stores,Firms,"66,773","8,225","35,006","14,008","5,934","63,173","2,857",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4795,448,Clothing and Clothing Accessories Stores,Establishments,"149,831","8,292","35,126","14,364","6,835","64,617","5,684",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4796,448,Clothing and Clothing Accessories Stores,Employment,"1,555,098",0,"78,547","90,660","76,583","245,790","95,095",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4797,448,Clothing and Clothing Accessories Stores,"Annual Payroll ($1,000)","23,707,779","176,867","1,329,214","1,646,981","1,529,695","4,682,757","1,983,890",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
t=df4.loc[(df4['DATA TYPE'] == "Establishments")|(df4['DATA TYPE'] == "Employment") & (df4['CODE'].isin(["442","443","4451","448"]))]
t

,CODE,NAICS DESCRIPTION,DATA TYPE,TOTAL,0,1-4,5-9,10-19,<20,20-99,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4511,442,Furniture and Home Furnishings Stores,Establishments,"65,728","5,068","22,812","11,193","6,858","45,931","6,200",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4512,442,Furniture and Home Furnishings Stores,Employment,"576,733",0,"52,032","71,587","79,349","202,968","114,049",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4551,443,Electronics and Appliance Stores,Establishments,"49,020","4,425","15,977","6,631","3,680","30,713","3,138",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4552,443,Electronics and Appliance Stores,Employment,"457,819",0,"35,058","42,199","41,217","118,474","51,947",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4651,4451,Grocery Stores,Establishments,"96,130","9,554","31,595","10,753","7,495","59,397","8,870",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4652,4451,Grocery Stores,Employment,"2,660,804",0,"68,716","70,056","98,308","237,080","300,328",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4795,448,Clothing and Clothing Accessories Stores,Establishments,"149,831","8,292","35,126","14,364","6,835","64,617","5,684",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4796,448,Clothing and Clothing Accessories Stores,Employment,"1,555,098",0,"78,547","90,660","76,583","245,790","95,095",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
newdf2004 = t[t.columns[:2]]
newdf2004

      CODE                         NAICS DESCRIPTION
4511   442     Furniture and Home Furnishings Stores
4512   442     Furniture and Home Furnishings Stores
4551   443          Electronics and Appliance Stores
4552   443          Electronics and Appliance Stores
4651  4451                            Grocery Stores
4652  4451                            Grocery Stores
4795   448  Clothing and Clothing Accessories Stores
4796   448  Clothing and Clothing Accessories Stores

In [10]:
 #makes Data Type column into seperate columns
testing = t.pivot(index="CODE",columns='DATA TYPE', values='TOTAL')
testing

DATA TYPE Employment Establishments
CODE
442          576,733         65,728
443          457,819         49,020
4451       2,660,804         96,130
448        1,555,098        149,831

In [11]:
mergedf=pd.merge(newdf2004, testing, how='left', on='CODE')
final=mergedf.drop_duplicates(subset=['CODE'])
#mergedf.rename(columns={'NAICS CODE': "CODE", 'Employment': 'Employment_2002','Establishments':'Establishments_2002'})

In [12]:
final

   CODE                         NAICS DESCRIPTION Employment Establishments
0   442     Furniture and Home Furnishings Stores    576,733         65,728
2   443          Electronics and Appliance Stores    457,819         49,020
4  4451                            Grocery Stores  2,660,804         96,130
6   448  Clothing and Clothing Accessories Stores  1,555,098        149,831

In [ ]:
final2004=final.rename(columns={'Employment': 'Employment_2004','Establishments':'Establishments_2004'})
final2004

In [ ]:
#save the final datatframe as a csvfile
final2004.to_csv("Output/2004_cleandata.csv",header=True,index=False)