In [1]:
import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2007.csv")
data_eight = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(data_eight)
df

,Unnamed: 0,Unnamed: 1,ENTERPRISE,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,ANNUAL,ANNUAL.1,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NAICS,NaN,EMPLOYMENT,NUMBER,NUMBER OF,NaN,EMPLOYMENT,EMPLOYMENT,PAYROLL,PAYROLL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CODE,NAICS DESCRIPTION,SIZE,OF FIRMS,ESTABLISHMENTS,EMPLOYMENT,RANGE FLAG,NOISE FLAG,"($1,000)",NOISE FLAG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,Total,1: Total,"6,049,655","7,705,018","120,604,265",NaN,G,"5,026,778,232",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,2: 0-4,"3,705,275","3,710,700","6,139,463",NaN,G,"234,921,325",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,3: 5-9,"1,060,250","1,073,875","6,974,591",NaN,G,"222,419,546",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,4: 10-19,"644,842","682,410","8,656,182",NaN,G,"292,088,277",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,--,Total,5: <20,"5,410,367","5,466,985","21,770,236",NaN,G,"749,429,148",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,--,Total,6: 20-99,"532,391","723,385","20,922,960",NaN,G,"768,546,555",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,--,Total,7: 100-499,"88,586","355,853","17,173,728",NaN,G,"686,862,018",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,--,Total,8: <500,"6,031,344","6,546,223","59,866,924",NaN,G,"2,204,837,721",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,--,Total,9: 500+,"18,311","1,158,795","60,737,341",NaN,G,"2,821,940,511",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,"Forestry, Fishing, Hunting, and Agriculture Su...",1: Total,"22,949","23,645","172,105",NaN,G,"5,564,225",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,"Forestry, Fishing, Hunting, and Agriculture Su...",2: 0-4,"15,740","15,745","24,099",NaN,H,"807,212",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11,"Forestry, Fishing, Hunting, and Agriculture Su...",3: 5-9,"3,776","3,779","24,563",NaN,G,"734,730",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,11,"Forestry, Fishing, Hunting, and Agriculture Su...",4: 10-19,"1,987","1,997","25,921",NaN,G,"833,962",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11,"Forestry, Fishing, Hunting, and Agriculture Su...",5: <20,"21,503","21,521","74,583",NaN,G,"2,375,904",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11,"Forestry, Fishing, Hunting, and Agriculture Su...",6: 20-99,"1,132","1,241","39,679",NaN,G,"1,361,340",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11,"Forestry, Fishing, Hunting, and Agriculture Su...",7: 100-499,219,391,"29,849",NaN,G,"831,547",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,"Forestry, Fishing, Hunting, and Agriculture Su...",8: <500,"22,854","23,153","144,111",NaN,G,"4,568,791",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11,"Forestry, Fishing, Hunting, and Agriculture Su...",9: 500+,95,492,"27,994",NaN,G,"995,434",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,113,Forestry and Logging,1: Total,"10,303","10,491","64,445",NaN,G,"2,260,414",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,113,Forestry and Logging,2: 0-4,"6,276","6,280","11,319",NaN,H,"342,149",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113,Forestry and Logging,3: 5-9,"2,256","2,256","14,748",NaN,G,"442,498",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113,Forestry and Logging,4: 10-19,"1,223","1,226","15,890",NaN,G,"519,366",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113,Forestry and Logging,5: <20,"9,755","9,762","41,957",NaN,G,"1,304,013",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113,Forestry and Logging,6: 20-99,488,500,"15,306",NaN,G,"570,813",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,113,Forestry and Logging,7: 100-499,28,64,"2,240",NaN,G,"84,675",H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,113,Forestry and Logging,8: <500,"10,271","10,326","59,503",NaN,G,"1,959,501",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,113,Forestry and Logging,9: 500+,32,165,"4,942",NaN,H,"300,913",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1131,Timber Tract Operations,1: Total,406,450,"2,632",NaN,G,"130,317",H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19235,813940,Political Organizations,5: <20,"2,220","2,222","5,132",NaN,G,"202,283",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19236,813940,Political Organizations,6: 20-99,76,77,"2,858",NaN,G,"121,627",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19237,813940,Political Organizations,7: 100-499,10,11,"2,381",NaN,G,"102,801",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19238,813940,Political Organizations,8: <500,"2,306","2,310","10,371",NaN,G,"426,711",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19239,81399,"Other Similar Organizations (except Business, ...",1: Total,"21,332","21,626","138,461",NaN,G,"4,357,793",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19240,81399,"Other Similar Organizations (except Business, ...",2: 0-4,"14,650","14,651","24,343",NaN,H,"641,559",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19241,81399,"Other Similar Organizations (except Business, ...",3: 5-9,"3,247","3,248","21,798",NaN,G,"631,338",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19242,81399,"Other Similar Organizations (except Business, ...",4: 10-19,"2,142","2,149","28,357",NaN,G,"866,306",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19243,81399,"Other Similar Organizations (except Business, ...",5: <20,"20,039","20,048","74,498",NaN,G,"2,139,203",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19244,81399,"Other Similar Organizations (except Business, ...",6: 20-99,"1,140","1,223","38,800",NaN,G,"1,157,381",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19245,81399,"Other Similar Organizations (except Business, ...",7: 100-499,130,281,"19,318",NaN,G,"620,875",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19246,81399,"Other Similar Organizations (except Business, ...",8: <500,"21,309","21,552","132,616",NaN,G,"3,917,459",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19247,81399,"Other Similar Organizations (except Business, ...",9: 500+,23,74,"5,845",NaN,H,"440,334",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19248,813990,"Other Similar Organizations (except Business, ...",1: Total,"21,332","21,626","138,461",NaN,G,"4,357,793",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19249,813990,"Other Similar Organizations (except Business, ...",2: 0-4,"14,650","14,651","24,343",NaN,H,"641,559",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19250,813990,"Other Similar Organizations (except Business, ...",3: 5-9,"3,247","3,248","21,798",NaN,G,"631,338",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19251,813990,"Other Similar Organizations (except Business, ...",4: 10-19,"2,142","2,149","28,357",NaN,G,"866,306",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19252,813990,"Other Similar Organizations (except Business, ...",5: <20,"20,039","20,048","74,498",NaN,G,"2,139,203",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19253,813990,"Other Similar Organizations (except Business, ...",6: 20-99,"1,140","1,223","38,800",NaN,G,"1,157,381",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19254,813990,"Other Similar Organizations (except Business, ...",7: 100-499,130,281,"19,318",NaN,G,"620,875",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19255,813990,"Other Similar Organizations (except Business, ...",8: <500,"21,309","21,552","132,616",NaN,G,"3,917,459",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19256,813990,"Other Similar Organizations (except Business, ...",9: 500+,23,74,"5,845",NaN,H,"440,334",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19257,99,Unclassified,1: Total,"9,993","9,993","12,655",NaN,H,"266,931",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19258,99,Unclassified,2: 0-4,"9,522","9,522",0,I,S,"166,002",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19259,99,Unclassified,3: 5-9,320,320,"1,981",NaN,G,"27,617",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19260,99,Unclassified,4: 10-19,104,104,"1,342",NaN,G,"11,457",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19261,99,Unclassified,5: <20,"9,946","9,946","11,257",NaN,H,"205,076",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19262,99,Unclassified,6: 20-99,46,46,"1,261",NaN,G,"11,799",H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19263,99,Unclassified,7: 100-499,1,1,0,C,D,0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19264,99,Unclassified,8: <500,"9,993","9,993","12,655",NaN,H,"266,931",G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop unnecessary columns 
df2 = df[df.columns[:6]]
df2.head()

,Unnamed: 0,Unnamed: 1,ENTERPRISE,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NAICS,NaN,EMPLOYMENT,NUMBER,NUMBER OF,NaN
1,CODE,NAICS DESCRIPTION,SIZE,OF FIRMS,ESTABLISHMENTS,EMPLOYMENT
2,--,Total,1: Total,"6,049,655","7,705,018","120,604,265"
3,--,Total,2: 0-4,"3,705,275","3,710,700","6,139,463"
4,--,Total,3: 5-9,"1,060,250","1,073,875","6,974,591"

In [5]:
#Change column names
df2.columns = ['NAICS Code', 'NAICS Description', 'Employment Size', 'Number of Firms', 'Number of Establishments',
       'Employees']

#Drop 'total' rows
df2008 = df2.drop(df2.index[[0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]])
df2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
11,11,"Forestry, Fishing, Hunting, and Agriculture Su...",1: Total,"22,949","23,645","172,105"
12,11,"Forestry, Fishing, Hunting, and Agriculture Su...",2: 0-4,"15,740","15,745","24,099"
13,11,"Forestry, Fishing, Hunting, and Agriculture Su...",3: 5-9,"3,776","3,779","24,563"
14,11,"Forestry, Fishing, Hunting, and Agriculture Su...",4: 10-19,"1,987","1,997","25,921"
15,11,"Forestry, Fishing, Hunting, and Agriculture Su...",5: <20,"21,503","21,521","74,583"
16,11,"Forestry, Fishing, Hunting, and Agriculture Su...",6: 20-99,"1,132","1,241","39,679"
17,11,"Forestry, Fishing, Hunting, and Agriculture Su...",7: 100-499,219,391,"29,849"
18,11,"Forestry, Fishing, Hunting, and Agriculture Su...",8: <500,"22,854","23,153","144,111"
19,11,"Forestry, Fishing, Hunting, and Agriculture Su...",9: 500+,95,492,"27,994"
20,113,Forestry and Logging,1: Total,"10,303","10,491","64,445"
21,113,Forestry and Logging,2: 0-4,"6,276","6,280","11,319"
22,113,Forestry and Logging,3: 5-9,"2,256","2,256","14,748"
23,113,Forestry and Logging,4: 10-19,"1,223","1,226","15,890"
24,113,Forestry and Logging,5: <20,"9,755","9,762","41,957"
25,113,Forestry and Logging,6: 20-99,488,500,"15,306"
26,113,Forestry and Logging,7: 100-499,28,64,"2,240"
27,113,Forestry and Logging,8: <500,"10,271","10,326","59,503"
28,113,Forestry and Logging,9: 500+,32,165,"4,942"
29,1131,Timber Tract Operations,1: Total,406,450,"2,632"
30,1131,Timber Tract Operations,2: 0-4,278,279,408
31,1131,Timber Tract Operations,3: 5-9,53,53,333
32,1131,Timber Tract Operations,4: 10-19,40,40,529
33,1131,Timber Tract Operations,5: <20,371,372,"1,270"
34,1131,Timber Tract Operations,6: 20-99,15,20,0
35,1131,Timber Tract Operations,7: 100-499,3,4,0
36,1131,Timber Tract Operations,8: <500,389,396,"1,744"
37,1131,Timber Tract Operations,9: 500+,17,54,888
38,11311,Timber Tract Operations,1: Total,406,450,"2,632"
39,11311,Timber Tract Operations,2: 0-4,278,279,408
40,11311,Timber Tract Operations,3: 5-9,53,53,333
...,...,...,...,...,...,...
19235,813940,Political Organizations,5: <20,"2,220","2,222","5,132"
19236,813940,Political Organizations,6: 20-99,76,77,"2,858"
19237,813940,Political Organizations,7: 100-499,10,11,"2,381"
19238,813940,Political Organizations,8: <500,"2,306","2,310","10,371"
19239,81399,"Other Similar Organizations (except Business, ...",1: Total,"21,332","21,626","138,461"
19240,81399,"Other Similar Organizations (except Business, ...",2: 0-4,"14,650","14,651","24,343"
19241,81399,"Other Similar Organizations (except Business, ...",3: 5-9,"3,247","3,248","21,798"
19242,81399,"Other Similar Organizations (except Business, ...",4: 10-19,"2,142","2,149","28,357"
19243,81399,"Other Similar Organizations (except Business, ...",5: <20,"20,039","20,048","74,498"
19244,81399,"Other Similar Organizations (except Business, ...",6: 20-99,"1,140","1,223","38,800"
19245,81399,"Other Similar Organizations (except Business, ...",7: 100-499,130,281,"19,318"
19246,81399,"Other Similar Organizations (except Business, ...",8: <500,"21,309","21,552","132,616"
19247,81399,"Other Similar Organizations (except Business, ...",9: 500+,23,74,"5,845"
19248,813990,"Other Similar Organizations (except Business, ...",1: Total,"21,332","21,626","138,461"
19249,813990,"Other Similar Organizations (except Business, ...",2: 0-4,"14,650","14,651","24,343"
19250,813990,"Other Similar Organizations (except Business, ...",3: 5-9,"3,247","3,248","21,798"
19251,813990,"Other Similar Organizations (except Business, ...",4: 10-19,"2,142","2,149","28,357"
19252,813990,"Other Similar Organizations (except Business, ...",5: <20,"20,039","20,048","74,498"
19253,813990,"Other Similar Organizations (except Business, ...",6: 20-99,"1,140","1,223","38,800"
19254,813990,"Other Similar Organizations (except Business, ...",7: 100-499,130,281,"19,318"
19255,813990,"Other Similar Organizations (except Business, ...",8: <500,"21,309","21,552","132,616"
19256,813990,"Other Similar Organizations (except Business, ...",9: 500+,23,74,"5,845"
19257,99,Unclassified,1: Total,"9,993","9,993","12,655"
19258,99,Unclassified,2: 0-4,"9,522","9,522",0
19259,99,Unclassified,3: 5-9,320,320,"1,981"
19260,99,Unclassified,4: 10-19,104,104,"1,342"
19261,99,Unclassified,5: <20,"9,946","9,946","11,257"
19262,99,Unclassified,6: 20-99,46,46,"1,261"
19263,99,Unclassified,7: 100-499,1,1,0
19264,99,Unclassified,8: <500,"9,993","9,993","12,655"

In [6]:
newdf2008=df2008.loc[df2008['NAICS Code'].isin(["442", "443", "4451","448"])]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10088,442,Furniture and Home Furnishings Stores,1: Total,"46,532","65,485","596,538"
10089,442,Furniture and Home Furnishings Stores,2: 0-4,"26,894","26,986","52,196"
10090,442,Furniture and Home Furnishings Stores,3: 5-9,"10,508","10,882","69,149"
10091,442,Furniture and Home Furnishings Stores,4: 10-19,"5,525","6,502","72,849"
10092,442,Furniture and Home Furnishings Stores,5: <20,"42,927","44,370","194,194"
10093,442,Furniture and Home Furnishings Stores,6: 20-99,"3,028","5,895","99,699"
10094,442,Furniture and Home Furnishings Stores,7: 100-499,415,"2,882","49,023"
10095,442,Furniture and Home Furnishings Stores,8: <500,"46,370","53,147","342,916"
10096,442,Furniture and Home Furnishings Stores,9: 500+,162,"12,338","253,622"
10178,443,Electronics and Appliance Stores,1: Total,"30,657","52,470","500,780"
10179,443,Electronics and Appliance Stores,2: 0-4,"19,573","19,713",0
10180,443,Electronics and Appliance Stores,3: 5-9,"6,175","6,484","41,351"
10181,443,Electronics and Appliance Stores,4: 10-19,"2,939","3,719","39,297"
10182,443,Electronics and Appliance Stores,5: <20,"28,687","29,916","116,576"
10183,443,Electronics and Appliance Stores,6: 20-99,"1,648","3,785","54,830"
10184,443,Electronics and Appliance Stores,7: 100-499,219,"1,679","25,365"
10185,443,Electronics and Appliance Stores,8: <500,"30,554","35,380","196,771"
10186,443,Electronics and Appliance Stores,9: 500+,103,"17,090","304,009"
10403,4451,Grocery Stores,1: Total,"65,822","92,315","2,564,533"
10404,4451,Grocery Stores,2: 0-4,"40,148","40,181","69,553"
10405,4451,Grocery Stores,3: 5-9,"10,247","10,337","67,373"
10406,4451,Grocery Stores,4: 10-19,"6,825","7,069","91,480"
10407,4451,Grocery Stores,5: <20,"57,220","57,587","228,406"
10408,4451,Grocery Stores,6: 20-99,"6,993","7,992","274,446"
10409,4451,Grocery Stores,7: 100-499,"1,217","3,680","196,930"
10410,4451,Grocery Stores,8: <500,"65,430","69,259","699,782"
10411,4451,Grocery Stores,9: 500+,392,"23,056","1,864,751"
10727,448,Clothing and Clothing Accessories Stores,1: Total,"67,035","155,371","1,648,157"
10728,448,Clothing and Clothing Accessories Stores,2: 0-4,"44,103","44,232","82,152"
10729,448,Clothing and Clothing Accessories Stores,3: 5-9,"13,783","14,175","91,105"
10730,448,Clothing and Clothing Accessories Stores,4: 10-19,"5,743","6,856","75,431"
10731,448,Clothing and Clothing Accessories Stores,5: <20,"63,629","65,263","248,688"
10732,448,Clothing and Clothing Accessories Stores,6: 20-99,"2,707","6,011","91,748"
10733,448,Clothing and Clothing Accessories Stores,7: 100-499,396,"4,796","56,599"
10734,448,Clothing and Clothing Accessories Stores,8: <500,"66,732","76,070","397,035"
10735,448,Clothing and Clothing Accessories Stores,9: 500+,303,"79,301","1,251,122"

In [7]:
newdf2008=newdf2008.loc[(newdf2008["Employment Size"].isin(["1:   Total"]))]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10088,442,Furniture and Home Furnishings Stores,1: Total,"46,532","65,485","596,538"
10178,443,Electronics and Appliance Stores,1: Total,"30,657","52,470","500,780"
10403,4451,Grocery Stores,1: Total,"65,822","92,315","2,564,533"
10727,448,Clothing and Clothing Accessories Stores,1: Total,"67,035","155,371","1,648,157"

In [8]:
clean2007 = newdf2008.drop(columns=['Employment Size', 'Number of Firms'])
clean2007

,NAICS Code,NAICS Description,Number of Establishments,Employees
10088,442,Furniture and Home Furnishings Stores,"65,485","596,538"
10178,443,Electronics and Appliance Stores,"52,470","500,780"
10403,4451,Grocery Stores,"92,315","2,564,533"
10727,448,Clothing and Clothing Accessories Stores,"155,371","1,648,157"

In [9]:
clean2007.to_csv("../clean_data/Output/CleanData2007.csv", index = False)