In [1]:
import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2008.csv")
data_eight = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(data_eight)
df

,Unnamed: 0,Unnamed: 1,ENTERPRISE,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,ANNUAL,ANNUAL.1,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NAICS,NaN,EMPLOYMENT,NUMBER,NUMBER OF,NaN,EMPLOYMENT,EMPLOYMENT,PAYROLL,PAYROLL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CODE,NAICS DESCRIPTION,SIZE,OF FIRMS,ESTABLISHMENTS,EMPLOYMENT,RANGE FLAG,NOISE FLAG,"($1,000)",NOISE FLAG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,Total,1: Total,"5,930,132","7,601,169","120,903,551",NaN,G,"5,130,509,178",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,2: 0-4,"3,617,764","3,624,614","6,086,291",NaN,G,"232,062,907",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,3: 5-9,"1,044,065","1,056,947","6,878,051",NaN,G,"222,504,912",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,4: 10-19,"633,141","667,463","8,497,391",NaN,G,"293,534,352",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,--,Total,5: <20,"5,294,970","5,349,024","21,461,733",NaN,G,"748,102,171",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,--,Total,6: 20-99,"526,307","705,430","20,684,691",NaN,G,"774,589,335",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,--,Total,7: 100-499,"90,386","359,902","17,547,567",NaN,G,"706,476,693",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,--,Total,8: <500,"5,911,663","6,414,356","59,693,991",NaN,G,"2,229,168,199",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,--,Total,9: 500+,"18,469","1,186,813","61,209,560",NaN,G,"2,901,340,979",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,"Agriculture, forestry, fishing and hunting",1: Total,"21,911","22,651","167,039",NaN,G,"5,605,244",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"15,004","15,007","23,027",NaN,H,"801,719",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,695","3,698","24,104",NaN,G,"749,348",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,792","1,800","23,506",NaN,G,"784,517",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11,"Agriculture, forestry, fishing and hunting",5: <20,"20,491","20,505","70,637",NaN,G,"2,335,584",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11,"Agriculture, forestry, fishing and hunting",6: 20-99,"1,103","1,216","39,313",NaN,G,"1,369,588",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11,"Agriculture, forestry, fishing and hunting",7: 100-499,221,472,"30,800",NaN,G,"936,343",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,"Agriculture, forestry, fishing and hunting",8: <500,"21,815","22,193","140,750",NaN,G,"4,641,515",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11,"Agriculture, forestry, fishing and hunting",9: 500+,96,458,"26,289",NaN,G,"963,729",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,113,Forestry and logging,1: Total,"9,568","9,741","61,311",NaN,G,"2,186,603",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,113,Forestry and logging,2: 0-4,"5,784","5,786","10,348",NaN,G,"316,205",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113,Forestry and logging,3: 5-9,"2,194","2,194","14,471",NaN,G,"446,283",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113,Forestry and logging,4: 10-19,"1,087","1,090","14,111",NaN,G,"469,344",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113,Forestry and logging,5: <20,"9,065","9,070","38,930",NaN,G,"1,231,832",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113,Forestry and logging,6: 20-99,442,451,"13,701",NaN,G,"529,113",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,113,Forestry and logging,7: 100-499,29,66,"3,246",NaN,G,"128,099",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,113,Forestry and logging,8: <500,"9,536","9,587","55,877",NaN,G,"1,889,044",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,113,Forestry and logging,9: 500+,32,154,"5,434",NaN,H,"297,559",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1131,Timber tract operations,1: Total,396,430,"2,620",NaN,G,"145,322",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop unnecessary columns 
df2 = df[df.columns[:6]]
df2.head()

,Unnamed: 0,Unnamed: 1,ENTERPRISE,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NAICS,NaN,EMPLOYMENT,NUMBER,NUMBER OF,NaN
1,CODE,NAICS DESCRIPTION,SIZE,OF FIRMS,ESTABLISHMENTS,EMPLOYMENT
2,--,Total,1: Total,"5,930,132","7,601,169","120,903,551"
3,--,Total,2: 0-4,"3,617,764","3,624,614","6,086,291"
4,--,Total,3: 5-9,"1,044,065","1,056,947","6,878,051"

In [5]:
#Change column names
df2.columns = ['NAICS Code', 'NAICS Description', 'Employment Size', 'Number of Firms', 'Number of Establishments',
       'Employees']

#Drop 'total' rows
df2008 = df2.drop(df2.index[[0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]])
df2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
11,11,"Agriculture, forestry, fishing and hunting",1: Total,"21,911","22,651","167,039"
12,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"15,004","15,007","23,027"
13,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,695","3,698","24,104"
14,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,792","1,800","23,506"
15,11,"Agriculture, forestry, fishing and hunting",5: <20,"20,491","20,505","70,637"
16,11,"Agriculture, forestry, fishing and hunting",6: 20-99,"1,103","1,216","39,313"
17,11,"Agriculture, forestry, fishing and hunting",7: 100-499,221,472,"30,800"
18,11,"Agriculture, forestry, fishing and hunting",8: <500,"21,815","22,193","140,750"
19,11,"Agriculture, forestry, fishing and hunting",9: 500+,96,458,"26,289"
20,113,Forestry and logging,1: Total,"9,568","9,741","61,311"
21,113,Forestry and logging,2: 0-4,"5,784","5,786","10,348"
22,113,Forestry and logging,3: 5-9,"2,194","2,194","14,471"
23,113,Forestry and logging,4: 10-19,"1,087","1,090","14,111"
24,113,Forestry and logging,5: <20,"9,065","9,070","38,930"
25,113,Forestry and logging,6: 20-99,442,451,"13,701"
26,113,Forestry and logging,7: 100-499,29,66,"3,246"
27,113,Forestry and logging,8: <500,"9,536","9,587","55,877"
28,113,Forestry and logging,9: 500+,32,154,"5,434"
29,1131,Timber tract operations,1: Total,396,430,"2,620"
30,1131,Timber tract operations,2: 0-4,281,281,412
31,1131,Timber tract operations,3: 5-9,49,49,320
32,1131,Timber tract operations,4: 10-19,31,31,402
33,1131,Timber tract operations,5: <20,361,361,"1,134"
34,1131,Timber tract operations,6: 20-99,15,17,363
35,1131,Timber tract operations,7: 100-499,3,4,0
36,1131,Timber tract operations,8: <500,379,382,"1,780"
37,1131,Timber tract operations,9: 500+,17,48,840
38,11311,Timber tract operations,1: Total,396,430,"2,620"
39,11311,Timber tract operations,2: 0-4,281,281,412
40,11311,Timber tract operations,3: 5-9,49,49,320
...,...,...,...,...,...,...
19235,NaN,NaN,NaN,NaN,NaN,NaN
19236,NaN,NaN,NaN,NaN,NaN,NaN
19237,NaN,NaN,NaN,NaN,NaN,NaN
19238,NaN,NaN,NaN,NaN,NaN,NaN
19239,NaN,NaN,NaN,NaN,NaN,NaN
19240,NaN,NaN,NaN,NaN,NaN,NaN
19241,NaN,NaN,NaN,NaN,NaN,NaN
19242,NaN,NaN,NaN,NaN,NaN,NaN
19243,NaN,NaN,NaN,NaN,NaN,NaN
19244,NaN,NaN,NaN,NaN,NaN,NaN
19245,NaN,NaN,NaN,NaN,NaN,NaN
19246,NaN,NaN,NaN,NaN,NaN,NaN
19247,NaN,NaN,NaN,NaN,NaN,NaN
19248,NaN,NaN,NaN,NaN,NaN,NaN
19249,NaN,NaN,NaN,NaN,NaN,NaN
19250,NaN,NaN,NaN,NaN,NaN,NaN
19251,NaN,NaN,NaN,NaN,NaN,NaN
19252,NaN,NaN,NaN,NaN,NaN,NaN
19253,NaN,NaN,NaN,NaN,NaN,NaN
19254,NaN,NaN,NaN,NaN,NaN,NaN
19255,NaN,NaN,NaN,NaN,NaN,NaN
19256,NaN,NaN,NaN,NaN,NaN,NaN
19257,NaN,NaN,NaN,NaN,NaN,NaN
19258,NaN,NaN,NaN,NaN,NaN,NaN
19259,NaN,NaN,NaN,NaN,NaN,NaN
19260,NaN,NaN,NaN,NaN,NaN,NaN
19261,NaN,NaN,NaN,NaN,NaN,NaN
19262,NaN,NaN,NaN,NaN,NaN,NaN
19263,NaN,NaN,NaN,NaN,NaN,NaN
19264,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
newdf2008=df2008.loc[df2008['NAICS Code'].isin(["442", "443", "4451","448"])]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10078,442,Furniture and home furnishings stores,1: Total,"43,563","61,735","533,096"
10079,442,Furniture and home furnishings stores,2: 0-4,"25,204","25,283","49,903"
10080,442,Furniture and home furnishings stores,3: 5-9,"9,999","10,308","65,849"
10081,442,Furniture and home furnishings stores,4: 10-19,"5,063","5,918","65,905"
10082,442,Furniture and home furnishings stores,5: <20,"40,266","41,509","181,657"
10083,442,Furniture and home furnishings stores,6: 20-99,"2,783","5,402","92,093"
10084,442,Furniture and home furnishings stores,7: 100-499,369,"2,965","42,713"
10085,442,Furniture and home furnishings stores,8: <500,"43,418","49,876","316,463"
10086,442,Furniture and home furnishings stores,9: 500+,145,"11,859","216,633"
10168,443,Electronics and appliance stores,1: Total,"27,988","49,173","464,927"
10169,443,Electronics and appliance stores,2: 0-4,"17,726","17,826","33,255"
10170,443,Electronics and appliance stores,3: 5-9,"5,819","6,086","39,010"
10171,443,Electronics and appliance stores,4: 10-19,"2,691","3,383","35,713"
10172,443,Electronics and appliance stores,5: <20,"26,236","27,295","107,978"
10173,443,Electronics and appliance stores,6: 20-99,"1,459","3,433","48,138"
10174,443,Electronics and appliance stores,7: 100-499,199,"2,041","24,642"
10175,443,Electronics and appliance stores,8: <500,"27,894","32,769","180,758"
10176,443,Electronics and appliance stores,9: 500+,94,"16,404","284,169"
10393,4451,Grocery stores,1: Total,"62,757","89,054","2,570,754"
10394,4451,Grocery stores,2: 0-4,"38,439","38,471","67,124"
10395,4451,Grocery stores,3: 5-9,"9,382","9,455","61,613"
10396,4451,Grocery stores,4: 10-19,"6,461","6,626","86,720"
10397,4451,Grocery stores,5: <20,"54,282","54,552","215,457"
10398,4451,Grocery stores,6: 20-99,"6,852","7,747","270,486"
10399,4451,Grocery stores,7: 100-499,"1,248","3,734","205,805"
10400,4451,Grocery stores,8: <500,"62,382","66,033","691,748"
10401,4451,Grocery stores,9: 500+,375,"23,021","1,879,006"
10717,448,Clothing and clothing accessories stores,1: Total,"64,878","155,578","1,648,150"
10718,448,Clothing and clothing accessories stores,2: 0-4,"42,594","42,733","80,625"
10719,448,Clothing and clothing accessories stores,3: 5-9,"13,393","13,797","87,982"
10720,448,Clothing and clothing accessories stores,4: 10-19,"5,500","6,464","71,683"
10721,448,Clothing and clothing accessories stores,5: <20,"61,487","62,994","240,290"
10722,448,Clothing and clothing accessories stores,6: 20-99,"2,651","5,832","87,746"
10723,448,Clothing and clothing accessories stores,7: 100-499,435,"5,214","61,307"
10724,448,Clothing and clothing accessories stores,8: <500,"64,573","74,040","389,343"
10725,448,Clothing and clothing accessories stores,9: 500+,305,"81,538","1,258,807"

In [7]:
newdf2008=newdf2008.loc[(newdf2008["Employment Size"].isin(["1:   Total"]))]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10078,442,Furniture and home furnishings stores,1: Total,"43,563","61,735","533,096"
10168,443,Electronics and appliance stores,1: Total,"27,988","49,173","464,927"
10393,4451,Grocery stores,1: Total,"62,757","89,054","2,570,754"
10717,448,Clothing and clothing accessories stores,1: Total,"64,878","155,578","1,648,150"

In [8]:
clean2008 = newdf2008.drop(columns=['Employment Size', 'Number of Firms'])
clean2008

,NAICS Code,NAICS Description,Number of Establishments,Employees
10078,442,Furniture and home furnishings stores,"61,735","533,096"
10168,443,Electronics and appliance stores,"49,173","464,927"
10393,4451,Grocery stores,"89,054","2,570,754"
10717,448,Clothing and clothing accessories stores,"155,578","1,648,150"

In [9]:
clean2008.to_csv("../clean_data/CleanData2008.csv", index = False)