In [1]:
import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2009.csv")
data_eight = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(data_eight)
df

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,1: Total,"5,767,306","7,433,465","114,509,626",NaN,G,"4,855,545,239",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,2: 0-4,"3,558,708","3,565,433","5,966,190",NaN,G,"219,913,105",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,3: 5-9,"1,001,313","1,015,178","6,580,830",NaN,G,"212,718,822",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,--,Total,4: 10-19,"610,777","646,145","8,191,289",NaN,G,"278,321,099",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,--,Total,5: <20,"5,170,798","5,226,756","20,738,309",NaN,G,"710,953,026",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,--,Total,6: 20-99,"495,673","672,753","19,389,940",NaN,G,"719,054,001",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,--,Total,7: 100-499,"83,326","353,510","16,153,254",NaN,G,"654,811,946",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,--,Total,8: <500,"5,749,797","6,253,019","56,281,503",NaN,G,"2,084,818,973",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,--,Total,9: 500+,"17,509","1,180,446","58,228,123",NaN,G,"2,770,726,266",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,"Agriculture, forestry, fishing and hunting",1: Total,"20,963","21,679","153,829",NaN,G,"5,121,795",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"14,548","14,556","22,282",NaN,H,"754,921",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,473","3,476","22,750",NaN,G,"714,511",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,646","1,651","21,603",NaN,G,"720,623",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11,"Agriculture, forestry, fishing and hunting",5: <20,"19,667","19,683","66,635",NaN,G,"2,190,055",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11,"Agriculture, forestry, fishing and hunting",6: 20-99,986,"1,119","35,419",NaN,G,"1,183,999",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,"Agriculture, forestry, fishing and hunting",7: 100-499,215,440,"27,395",NaN,G,"865,550",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11,"Agriculture, forestry, fishing and hunting",8: <500,"20,868","21,242","129,449",NaN,G,"4,239,604",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11,"Agriculture, forestry, fishing and hunting",9: 500+,95,437,"24,380",NaN,G,"882,191",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,113,Forestry and logging,1: Total,"8,815","8,982","53,003",NaN,G,"1,861,875",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113,Forestry and logging,2: 0-4,"5,478","5,485","9,901",NaN,G,"293,314",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113,Forestry and logging,3: 5-9,"1,974","1,974","13,141",NaN,G,"405,151",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113,Forestry and logging,4: 10-19,941,941,"12,233",NaN,G,"411,816",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113,Forestry and logging,5: <20,"8,393","8,400","35,275",NaN,G,"1,110,281",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,113,Forestry and logging,6: 20-99,366,387,"11,680",NaN,G,"432,137",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,113,Forestry and logging,7: 100-499,26,52,"2,303",NaN,G,"75,469",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,113,Forestry and logging,8: <500,"8,785","8,839","49,258",NaN,G,"1,617,887",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,113,Forestry and logging,9: 500+,30,143,"3,745",NaN,H,"243,988",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop unnecessary columns 
df2 = df[df.columns[:6]]
df2.head()

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,1: Total,"5,767,306","7,433,465","114,509,626"
4,--,Total,2: 0-4,"3,558,708","3,565,433","5,966,190"

In [5]:
#Change column names
df2.columns = ['NAICS Code', 'NAICS Description', 'Employment Size', 'Number of Firms', 'Number of Establishments',
       'Employees']

#Drop 'total' rows
df2008 = df2.drop(df2.index[[0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]])
df2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
11,--,Total,9: 500+,"17,509","1,180,446","58,228,123"
12,11,"Agriculture, forestry, fishing and hunting",1: Total,"20,963","21,679","153,829"
13,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"14,548","14,556","22,282"
14,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,473","3,476","22,750"
15,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,646","1,651","21,603"
16,11,"Agriculture, forestry, fishing and hunting",5: <20,"19,667","19,683","66,635"
17,11,"Agriculture, forestry, fishing and hunting",6: 20-99,986,"1,119","35,419"
18,11,"Agriculture, forestry, fishing and hunting",7: 100-499,215,440,"27,395"
19,11,"Agriculture, forestry, fishing and hunting",8: <500,"20,868","21,242","129,449"
20,11,"Agriculture, forestry, fishing and hunting",9: 500+,95,437,"24,380"
21,113,Forestry and logging,1: Total,"8,815","8,982","53,003"
22,113,Forestry and logging,2: 0-4,"5,478","5,485","9,901"
23,113,Forestry and logging,3: 5-9,"1,974","1,974","13,141"
24,113,Forestry and logging,4: 10-19,941,941,"12,233"
25,113,Forestry and logging,5: <20,"8,393","8,400","35,275"
26,113,Forestry and logging,6: 20-99,366,387,"11,680"
27,113,Forestry and logging,7: 100-499,26,52,"2,303"
28,113,Forestry and logging,8: <500,"8,785","8,839","49,258"
29,113,Forestry and logging,9: 500+,30,143,"3,745"
30,1131,Timber tract operations,1: Total,357,371,"2,141"
31,1131,Timber tract operations,2: 0-4,247,249,390
32,1131,Timber tract operations,3: 5-9,50,50,320
33,1131,Timber tract operations,4: 10-19,24,24,305
34,1131,Timber tract operations,5: <20,321,323,"1,015"
35,1131,Timber tract operations,6: 20-99,17,19,548
36,1131,Timber tract operations,7: 100-499,3,4,0
37,1131,Timber tract operations,8: <500,341,346,"1,591"
38,1131,Timber tract operations,9: 500+,16,25,550
39,11311,Timber tract operations,1: Total,357,371,"2,141"
40,11311,Timber tract operations,2: 0-4,247,249,390
...,...,...,...,...,...,...
19570,NaN,NaN,NaN,NaN,NaN,NaN
19571,NaN,NaN,NaN,NaN,NaN,NaN
19572,NaN,NaN,NaN,NaN,NaN,NaN
19573,NaN,NaN,NaN,NaN,NaN,NaN
19574,NaN,NaN,NaN,NaN,NaN,NaN
19575,NaN,NaN,NaN,NaN,NaN,NaN
19576,NaN,NaN,NaN,NaN,NaN,NaN
19577,NaN,NaN,NaN,NaN,NaN,NaN
19578,NaN,NaN,NaN,NaN,NaN,NaN
19579,NaN,NaN,NaN,NaN,NaN,NaN
19580,NaN,NaN,NaN,NaN,NaN,NaN
19581,NaN,NaN,NaN,NaN,NaN,NaN
19582,NaN,NaN,NaN,NaN,NaN,NaN
19583,NaN,NaN,NaN,NaN,NaN,NaN
19584,NaN,NaN,NaN,NaN,NaN,NaN
19585,NaN,NaN,NaN,NaN,NaN,NaN
19586,NaN,NaN,NaN,NaN,NaN,NaN
19587,NaN,NaN,NaN,NaN,NaN,NaN
19588,NaN,NaN,NaN,NaN,NaN,NaN
19589,NaN,NaN,NaN,NaN,NaN,NaN
19590,NaN,NaN,NaN,NaN,NaN,NaN
19591,NaN,NaN,NaN,NaN,NaN,NaN
19592,NaN,NaN,NaN,NaN,NaN,NaN
19593,NaN,NaN,NaN,NaN,NaN,NaN
19594,NaN,NaN,NaN,NaN,NaN,NaN
19595,NaN,NaN,NaN,NaN,NaN,NaN
19596,NaN,NaN,NaN,NaN,NaN,NaN
19597,NaN,NaN,NaN,NaN,NaN,NaN
19598,NaN,NaN,NaN,NaN,NaN,NaN
19599,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
newdf2008=df2008.loc[df2008['NAICS Code'].isin(["442", "443", "4451","448"])]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10072,442,Furniture and home furnishings stores,1: Total,"40,497","57,478","449,836"
10073,442,Furniture and home furnishings stores,2: 0-4,"24,523","24,669","48,664"
10074,442,Furniture and home furnishings stores,3: 5-9,"8,960","9,366","58,757"
10075,442,Furniture and home furnishings stores,4: 10-19,"4,340","5,184","56,395"
10076,442,Furniture and home furnishings stores,5: <20,"37,823","39,219","163,816"
10077,442,Furniture and home furnishings stores,6: 20-99,"2,225","4,613","71,996"
10078,442,Furniture and home furnishings stores,7: 100-499,324,"2,736","38,420"
10079,442,Furniture and home furnishings stores,8: <500,"40,372","46,568","274,232"
10080,442,Furniture and home furnishings stores,9: 500+,125,"10,910","175,604"
10162,443,Electronics and appliance stores,1: Total,"27,238","48,489","448,946"
10163,443,Electronics and appliance stores,2: 0-4,"17,479","17,598",0
10164,443,Electronics and appliance stores,3: 5-9,"5,549","5,855","36,817"
10165,443,Electronics and appliance stores,4: 10-19,"2,564","3,195","33,870"
10166,443,Electronics and appliance stores,5: <20,"25,592","26,648","103,046"
10167,443,Electronics and appliance stores,6: 20-99,"1,374","3,296","45,499"
10168,443,Electronics and appliance stores,7: 100-499,188,"2,205","22,844"
10169,443,Electronics and appliance stores,8: <500,"27,154","32,149","171,389"
10170,443,Electronics and appliance stores,9: 500+,84,"16,340","277,557"
10387,4451,Grocery stores,1: Total,"63,964","90,259","2,561,669"
10388,4451,Grocery stores,2: 0-4,"39,972","40,004","69,867"
10389,4451,Grocery stores,3: 5-9,"9,475","9,550","62,189"
10390,4451,Grocery stores,4: 10-19,"6,277","6,453","84,275"
10391,4451,Grocery stores,5: <20,"55,724","56,007","216,331"
10392,4451,Grocery stores,6: 20-99,"6,689","7,592","264,221"
10393,4451,Grocery stores,7: 100-499,"1,187","3,620","194,065"
10394,4451,Grocery stores,8: <500,"63,600","67,219","674,617"
10395,4451,Grocery stores,9: 500+,364,"23,040","1,887,052"
10711,448,Clothing and clothing accessories stores,1: Total,"62,294","150,205","1,535,923"
10712,448,Clothing and clothing accessories stores,2: 0-4,"41,980","42,182","80,207"
10713,448,Clothing and clothing accessories stores,3: 5-9,"12,261","12,701","80,509"
10714,448,Clothing and clothing accessories stores,4: 10-19,"4,996","6,014","64,719"
10715,448,Clothing and clothing accessories stores,5: <20,"59,237","60,897","225,435"
10716,448,Clothing and clothing accessories stores,6: 20-99,"2,369","5,674","78,795"
10717,448,Clothing and clothing accessories stores,7: 100-499,409,"5,659","59,436"
10718,448,Clothing and clothing accessories stores,8: <500,"62,015","72,230","363,666"
10719,448,Clothing and clothing accessories stores,9: 500+,279,"77,975","1,172,257"

In [7]:
newdf2008=newdf2008.loc[(newdf2008["Employment Size"].isin(["1:   Total"]))]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10072,442,Furniture and home furnishings stores,1: Total,"40,497","57,478","449,836"
10162,443,Electronics and appliance stores,1: Total,"27,238","48,489","448,946"
10387,4451,Grocery stores,1: Total,"63,964","90,259","2,561,669"
10711,448,Clothing and clothing accessories stores,1: Total,"62,294","150,205","1,535,923"

In [8]:
clean2009 = newdf2008.drop(columns=['Employment Size', 'Number of Firms'])
clean2009

,NAICS Code,NAICS Description,Number of Establishments,Employees
10072,442,Furniture and home furnishings stores,"57,478","449,836"
10162,443,Electronics and appliance stores,"48,489","448,946"
10387,4451,Grocery stores,"90,259","2,561,669"
10711,448,Clothing and clothing accessories stores,"150,205","1,535,923"

In [9]:
clean2009.to_csv("../clean_data/Output/CleanData2009.csv", index = False)