In [1]:
import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2010.csv")
data_eight = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(data_eight)
df

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,1: Total,"5,734,538","7,396,628","111,970,095",NaN,G,"4,940,983,369",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,2: 0-4,"3,575,240","3,582,826","5,926,452",NaN,G,"226,541,056",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,3: 5-9,"968,075","982,019","6,358,931",NaN,G,"212,039,611",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,--,Total,4: 10-19,"617,089","652,662","8,288,385",NaN,G,"283,246,473",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,--,Total,5: <20,"5,160,404","5,217,507","20,573,768",NaN,G,"721,827,140",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,--,Total,6: 20-99,"475,125","648,386","18,554,372",NaN,G,"719,061,251",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,--,Total,7: 100-499,"81,773","354,313","15,868,540",NaN,G,"665,644,629",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,--,Total,8: <500,"5,717,302","6,220,206","54,996,680",NaN,G,"2,106,533,020",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,--,Total,9: 500+,"17,236","1,176,422","56,973,415",NaN,G,"2,834,450,349",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,"Agriculture, forestry, fishing and hunting",1: Total,"20,985","21,691","156,055",NaN,G,"5,291,351",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"14,585","14,589","21,691",NaN,G,"787,974",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,271","3,274","21,288",NaN,G,"707,052",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,804","1,811","23,610",NaN,G,"781,728",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11,"Agriculture, forestry, fishing and hunting",5: <20,"19,660","19,674","66,589",NaN,G,"2,276,754",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11,"Agriculture, forestry, fishing and hunting",6: 20-99,"1,009","1,129","36,039",NaN,G,"1,319,063",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,"Agriculture, forestry, fishing and hunting",7: 100-499,227,464,"28,720",NaN,G,"852,915",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11,"Agriculture, forestry, fishing and hunting",8: <500,"20,896","21,267","131,348",NaN,G,"4,448,732",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11,"Agriculture, forestry, fishing and hunting",9: 500+,89,424,"24,707",NaN,G,"842,619",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,113,Forestry and logging,1: Total,"8,698","8,836","53,525",NaN,G,"1,991,956",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113,Forestry and logging,2: 0-4,"5,311","5,314","9,232",NaN,G,"304,875",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113,Forestry and logging,3: 5-9,"1,872","1,872","12,361",NaN,G,"405,232",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113,Forestry and logging,4: 10-19,"1,048","1,048","13,657",NaN,G,"458,186",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113,Forestry and logging,5: <20,"8,231","8,234","35,250",NaN,G,"1,168,293",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,113,Forestry and logging,6: 20-99,412,422,"13,153",NaN,G,"530,110",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,113,Forestry and logging,7: 100-499,28,55,"1,929",NaN,G,"70,295",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,113,Forestry and logging,8: <500,"8,671","8,711","50,332",NaN,G,"1,768,698",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,113,Forestry and logging,9: 500+,27,125,"3,193",NaN,H,"223,258",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19079,81399,"Other similar organizations (except business, ...",4: 10-19,"2,113","2,119","28,046",NaN,G,"922,108",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19080,81399,"Other similar organizations (except business, ...",5: <20,"19,008","19,016","72,015",NaN,G,"2,230,969",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19081,81399,"Other similar organizations (except business, ...",6: 20-99,"1,118","1,180","38,639",NaN,G,"1,256,107",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19082,81399,"Other similar organizations (except business, ...",7: 100-499,115,258,"16,298",NaN,G,"713,206",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19083,81399,"Other similar organizations (except business, ...",8: <500,"20,241","20,454","126,952",NaN,G,"4,200,282",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19084,81399,"Other similar organizations (except business, ...",9: 500+,27,99,"6,540",NaN,H,"400,345",H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19085,813990,"Other similar organizations (except business, ...",1: Total,"20,268","20,553","133,492",NaN,G,"4,600,627",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19086,813990,"Other similar organizations (except business, ...",2: 0-4,"13,822","13,823","23,172",NaN,H,"651,053",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19087,813990,"Other similar organizations (except business, ...",3: 5-9,"3,073","3,074","20,797",NaN,G,"657,808",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19088,813990,"Other similar organizations (except business, ...",4: 10-19,"2,113","2,119","28,046",NaN,G,"922,108",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19089,813990,"Other similar organizations (except business, ...",5: <20,"19,008","19,016","72,015",NaN,G,"2,230,969",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19090,813990,"Other similar organizations (except business, ...",6: 20-99,"1,118","1,180","38,639",NaN,G,"1,256,107",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19091,813990,"Other similar organizations (except business, ...",7: 100-499,115,258,"16,298",NaN,G,"713,206",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19092,813990,"Other similar organizations (except business, ...",8: <500,"20,241","20,454","126,952",NaN,G,"4,200,282",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19093,813990,"Other similar organizations (except business, ...",9: 500+,27,99,"6,540",NaN,H,"400,345",H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19094,99,Industries not classified,1: Total,"20,537","20,537",0,J,S,"315,276",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19095,99,Industries not classified,2: 0-4,"19,945","19,945",0,J,S,"271,260",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19096,99,Industries not classified,3: 5-9,407,407,"2,495",NaN,G,"26,689",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19097,99,Industries not classified,4: 10-19,164,164,"1,906",NaN,G,"12,502",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19098,99,Industries not classified,5: <20,"20,516","20,516",0,J,S,"310,451",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19099,99,Industries not classified,6: 20-99,21,21,515,NaN,H,"4,825",H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19100,99,Industries not classified,8: <500,"20,537","20,537",0,J,S,"315,276",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop unnecessary columns 
df2 = df[df.columns[:6]]
df2.head()

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,1: Total,"5,734,538","7,396,628","111,970,095"
4,--,Total,2: 0-4,"3,575,240","3,582,826","5,926,452"

In [5]:
#Change column names
df2.columns = ['NAICS Code', 'NAICS Description', 'Employment Size', 'Number of Firms', 'Number of Establishments',
       'Employees']

#Drop 'total' rows
df2008 = df2.drop(df2.index[[0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]])
df2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
11,--,Total,9: 500+,"17,236","1,176,422","56,973,415"
12,11,"Agriculture, forestry, fishing and hunting",1: Total,"20,985","21,691","156,055"
13,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"14,585","14,589","21,691"
14,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,271","3,274","21,288"
15,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,804","1,811","23,610"
16,11,"Agriculture, forestry, fishing and hunting",5: <20,"19,660","19,674","66,589"
17,11,"Agriculture, forestry, fishing and hunting",6: 20-99,"1,009","1,129","36,039"
18,11,"Agriculture, forestry, fishing and hunting",7: 100-499,227,464,"28,720"
19,11,"Agriculture, forestry, fishing and hunting",8: <500,"20,896","21,267","131,348"
20,11,"Agriculture, forestry, fishing and hunting",9: 500+,89,424,"24,707"
21,113,Forestry and logging,1: Total,"8,698","8,836","53,525"
22,113,Forestry and logging,2: 0-4,"5,311","5,314","9,232"
23,113,Forestry and logging,3: 5-9,"1,872","1,872","12,361"
24,113,Forestry and logging,4: 10-19,"1,048","1,048","13,657"
25,113,Forestry and logging,5: <20,"8,231","8,234","35,250"
26,113,Forestry and logging,6: 20-99,412,422,"13,153"
27,113,Forestry and logging,7: 100-499,28,55,"1,929"
28,113,Forestry and logging,8: <500,"8,671","8,711","50,332"
29,113,Forestry and logging,9: 500+,27,125,"3,193"
30,1131,Timber tract operations,1: Total,370,382,"2,059"
31,1131,Timber tract operations,2: 0-4,256,258,367
32,1131,Timber tract operations,3: 5-9,52,52,333
33,1131,Timber tract operations,4: 10-19,27,27,361
34,1131,Timber tract operations,5: <20,335,337,"1,061"
35,1131,Timber tract operations,6: 20-99,15,17,445
36,1131,Timber tract operations,7: 100-499,5,7,0
37,1131,Timber tract operations,8: <500,355,361,"1,573"
38,1131,Timber tract operations,9: 500+,15,21,486
39,11311,Timber tract operations,1: Total,370,382,"2,059"
40,11311,Timber tract operations,2: 0-4,256,258,367
...,...,...,...,...,...,...
19079,81399,"Other similar organizations (except business, ...",4: 10-19,"2,113","2,119","28,046"
19080,81399,"Other similar organizations (except business, ...",5: <20,"19,008","19,016","72,015"
19081,81399,"Other similar organizations (except business, ...",6: 20-99,"1,118","1,180","38,639"
19082,81399,"Other similar organizations (except business, ...",7: 100-499,115,258,"16,298"
19083,81399,"Other similar organizations (except business, ...",8: <500,"20,241","20,454","126,952"
19084,81399,"Other similar organizations (except business, ...",9: 500+,27,99,"6,540"
19085,813990,"Other similar organizations (except business, ...",1: Total,"20,268","20,553","133,492"
19086,813990,"Other similar organizations (except business, ...",2: 0-4,"13,822","13,823","23,172"
19087,813990,"Other similar organizations (except business, ...",3: 5-9,"3,073","3,074","20,797"
19088,813990,"Other similar organizations (except business, ...",4: 10-19,"2,113","2,119","28,046"
19089,813990,"Other similar organizations (except business, ...",5: <20,"19,008","19,016","72,015"
19090,813990,"Other similar organizations (except business, ...",6: 20-99,"1,118","1,180","38,639"
19091,813990,"Other similar organizations (except business, ...",7: 100-499,115,258,"16,298"
19092,813990,"Other similar organizations (except business, ...",8: <500,"20,241","20,454","126,952"
19093,813990,"Other similar organizations (except business, ...",9: 500+,27,99,"6,540"
19094,99,Industries not classified,1: Total,"20,537","20,537",0
19095,99,Industries not classified,2: 0-4,"19,945","19,945",0
19096,99,Industries not classified,3: 5-9,407,407,"2,495"
19097,99,Industries not classified,4: 10-19,164,164,"1,906"
19098,99,Industries not classified,5: <20,"20,516","20,516",0
19099,99,Industries not classified,6: 20-99,21,21,515
19100,99,Industries not classified,8: <500,"20,537","20,537",0
19101,NaN,NaN,NaN,NaN,NaN,NaN
19102,NaN,NaN,NaN,NaN,NaN,NaN
19103,NaN,NaN,NaN,NaN,NaN,NaN
19104,NaN,NaN,NaN,NaN,NaN,NaN
19105,NaN,NaN,NaN,NaN,NaN,NaN
19106,NaN,NaN,NaN,NaN,NaN,NaN
19107,NaN,NaN,NaN,NaN,NaN,NaN
19108,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
newdf2008=df2008.loc[df2008['NAICS Code'].isin(["442", "443", "4451","448"])]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10079,442,Furniture and home furnishings stores,1: Total,"38,379","54,929","429,172"
10080,442,Furniture and home furnishings stores,2: 0-4,"23,591","23,746","46,024"
10081,442,Furniture and home furnishings stores,3: 5-9,"8,194","8,591","53,918"
10082,442,Furniture and home furnishings stores,4: 10-19,"4,166","4,988","54,237"
10083,442,Furniture and home furnishings stores,5: <20,"35,951","37,325","154,179"
10084,442,Furniture and home furnishings stores,6: 20-99,"2,018","4,296","65,228"
10085,442,Furniture and home furnishings stores,7: 100-499,293,"2,738","33,954"
10086,442,Furniture and home furnishings stores,8: <500,"38,262","44,359","253,361"
10087,442,Furniture and home furnishings stores,9: 500+,117,"10,570","175,811"
10169,443,Electronics and appliance stores,1: Total,"27,210","48,305","411,516"
10170,443,Electronics and appliance stores,2: 0-4,"17,885","18,014",0
10171,443,Electronics and appliance stores,3: 5-9,"5,191","5,439","34,333"
10172,443,Electronics and appliance stores,4: 10-19,"2,560","3,153","33,758"
10173,443,Electronics and appliance stores,5: <20,"25,636","26,606","101,537"
10174,443,Electronics and appliance stores,6: 20-99,"1,296","3,111","42,598"
10175,443,Electronics and appliance stores,7: 100-499,194,"2,058","22,417"
10176,443,Electronics and appliance stores,8: <500,"27,126","31,775","166,552"
10177,443,Electronics and appliance stores,9: 500+,84,"16,530",0
10394,4451,Grocery stores,1: Total,"65,879","92,164","2,526,781"
10395,4451,Grocery stores,2: 0-4,"41,807","41,844","73,075"
10396,4451,Grocery stores,3: 5-9,"9,389","9,457","61,348"
10397,4451,Grocery stores,4: 10-19,"6,492","6,701","87,320"
10398,4451,Grocery stores,5: <20,"57,688","58,002","221,743"
10399,4451,Grocery stores,6: 20-99,"6,667","7,610","265,204"
10400,4451,Grocery stores,7: 100-499,"1,172","3,533","191,202"
10401,4451,Grocery stores,8: <500,"65,527","69,145","678,149"
10402,4451,Grocery stores,9: 500+,352,"23,019","1,848,632"
10718,448,Clothing and clothing accessories stores,1: Total,"61,137","147,614","1,528,512"
10719,448,Clothing and clothing accessories stores,2: 0-4,"41,184","41,421","77,978"
10720,448,Clothing and clothing accessories stores,3: 5-9,"11,870","12,327","77,732"
10721,448,Clothing and clothing accessories stores,4: 10-19,"5,139","6,053","67,309"
10722,448,Clothing and clothing accessories stores,5: <20,"58,193","59,801","223,019"
10723,448,Clothing and clothing accessories stores,6: 20-99,"2,283","5,276","75,658"
10724,448,Clothing and clothing accessories stores,7: 100-499,385,"4,911","54,199"
10725,448,Clothing and clothing accessories stores,8: <500,"60,861","69,988","352,876"
10726,448,Clothing and clothing accessories stores,9: 500+,276,"77,626","1,175,636"

In [7]:
newdf2008=newdf2008.loc[(newdf2008["Employment Size"].isin(["1:   Total"]))]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10079,442,Furniture and home furnishings stores,1: Total,"38,379","54,929","429,172"
10169,443,Electronics and appliance stores,1: Total,"27,210","48,305","411,516"
10394,4451,Grocery stores,1: Total,"65,879","92,164","2,526,781"
10718,448,Clothing and clothing accessories stores,1: Total,"61,137","147,614","1,528,512"

In [8]:
clean2010 = newdf2008.drop(columns=['Employment Size', 'Number of Firms'])
clean2010

,NAICS Code,NAICS Description,Number of Establishments,Employees
10079,442,Furniture and home furnishings stores,"54,929","429,172"
10169,443,Electronics and appliance stores,"48,305","411,516"
10394,4451,Grocery stores,"92,164","2,526,781"
10718,448,Clothing and clothing accessories stores,"147,614","1,528,512"

In [9]:
clean2010.to_csv("../clean_data/Output/CleanData2010.csv", index = False)