In [1]:
import os
import csv
import pandas as pd

In [2]:
datafile = ( "../raw_data/retaildata_2011.csv")
data_eight = pd.read_csv(datafile)

In [3]:
df=pd.DataFrame(data_eight)
df

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,1: Total,"5,684,424","7,354,043","113,425,965",NaN,G,"5,164,897,905",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--,Total,2: 0-4,"3,532,058","3,540,155","5,857,662",NaN,G,"230,422,086",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,--,Total,3: 5-9,"978,993","993,101","6,431,931",NaN,G,"218,085,669",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,--,Total,4: 10-19,"592,963","626,981","7,961,281",NaN,G,"284,251,614",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,--,Total,5: <20,"5,104,014","5,160,237","20,250,874",NaN,G,"732,759,369",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,--,Total,6: 20-99,"481,496","651,624","18,880,001",NaN,G,"746,085,051",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,--,Total,7: 100-499,"81,243","350,197","15,867,437",NaN,G,"690,509,553",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,--,Total,8: <500,"5,666,753","6,162,058","54,998,312",NaN,G,"2,169,353,973",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,--,Total,9: 500+,"17,671","1,191,985","58,427,653",NaN,G,"2,995,543,932",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,11,"Agriculture, forestry, fishing and hunting",1: Total,"20,642","21,340","156,520",NaN,G,"5,483,338",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"14,281","14,285","21,291",NaN,H,"805,270",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,371","3,374","21,976",NaN,G,"738,713",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,669","1,678","21,812",NaN,G,"781,785",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11,"Agriculture, forestry, fishing and hunting",5: <20,"19,321","19,337","65,079",NaN,G,"2,325,768",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,11,"Agriculture, forestry, fishing and hunting",6: 20-99,"1,007","1,114","36,542",NaN,G,"1,327,294",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,11,"Agriculture, forestry, fishing and hunting",7: 100-499,220,462,"29,970",NaN,G,"933,605",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,11,"Agriculture, forestry, fishing and hunting",8: <500,"20,548","20,913","131,591",NaN,G,"4,586,667",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,11,"Agriculture, forestry, fishing and hunting",9: 500+,94,427,"24,929",NaN,G,"896,671",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,113,Forestry and logging,1: Total,"8,477","8,616","53,034",NaN,G,"2,014,559",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,113,Forestry and logging,2: 0-4,"5,097","5,100","8,863",NaN,G,"292,721",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,113,Forestry and logging,3: 5-9,"1,930","1,930","12,764",NaN,G,"414,788",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,113,Forestry and logging,4: 10-19,971,971,"12,687",NaN,G,"452,388",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,113,Forestry and logging,5: <20,"7,998","8,001","34,314",NaN,G,"1,159,897",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,113,Forestry and logging,6: 20-99,427,435,"13,704",NaN,G,"548,719",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,113,Forestry and logging,7: 100-499,24,55,"1,801",NaN,G,"69,378",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,113,Forestry and logging,8: <500,"8,449","8,491","49,819",NaN,G,"1,777,994",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,113,Forestry and logging,9: 500+,28,125,"3,215",NaN,H,"236,565",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19078,813940,Political organizations,5: <20,"2,089","2,089","4,706",NaN,G,"229,279",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19079,813940,Political organizations,6: 20-99,65,68,"2,235",NaN,G,"97,387",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19080,813940,Political organizations,7: 100-499,3,3,0,F,D,0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19081,813940,Political organizations,8: <500,"2,157","2,160","7,636",NaN,G,"365,555",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19082,813940,Political organizations,9: 500+,1,1,0,G,D,0,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19083,81399,"Other similar organizations (except business, ...",1: Total,"20,124","20,425","133,672",NaN,G,"4,762,742",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19084,81399,"Other similar organizations (except business, ...",2: 0-4,"13,626","13,627","23,154",NaN,H,"665,878",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19085,81399,"Other similar organizations (except business, ...",3: 5-9,"3,148","3,151","21,224",NaN,G,"683,322",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19086,81399,"Other similar organizations (except business, ...",4: 10-19,"2,092","2,096","27,604",NaN,G,"939,683",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19087,81399,"Other similar organizations (except business, ...",5: <20,"18,866","18,874","71,982",NaN,G,"2,288,883",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19088,81399,"Other similar organizations (except business, ...",6: 20-99,"1,114","1,174","38,196",NaN,G,"1,287,414",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19089,81399,"Other similar organizations (except business, ...",7: 100-499,118,279,"16,967",NaN,G,"770,547",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19090,81399,"Other similar organizations (except business, ...",8: <500,"20,098","20,327","127,145",NaN,G,"4,346,844",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19091,81399,"Other similar organizations (except business, ...",9: 500+,26,98,"6,527",NaN,G,"415,898",H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19092,813990,"Other similar organizations (except business, ...",1: Total,"20,124","20,425","133,672",NaN,G,"4,762,742",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19093,813990,"Other similar organizations (except business, ...",2: 0-4,"13,626","13,627","23,154",NaN,H,"665,878",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19094,813990,"Other similar organizations (except business, ...",3: 5-9,"3,148","3,151","21,224",NaN,G,"683,322",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19095,813990,"Other similar organizations (except business, ...",4: 10-19,"2,092","2,096","27,604",NaN,G,"939,683",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19096,813990,"Other similar organizations (except business, ...",5: <20,"18,866","18,874","71,982",NaN,G,"2,288,883",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19097,813990,"Other similar organizations (except business, ...",6: 20-99,"1,114","1,174","38,196",NaN,G,"1,287,414",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19098,813990,"Other similar organizations (except business, ...",7: 100-499,118,279,"16,967",NaN,G,"770,547",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19099,813990,"Other similar organizations (except business, ...",8: <500,"20,098","20,327","127,145",NaN,G,"4,346,844",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19100,813990,"Other similar organizations (except business, ...",9: 500+,26,98,"6,527",NaN,G,"415,898",H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19101,99,Industries not classified,1: Total,"17,243","17,243",0,J,S,"288,159",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19102,99,Industries not classified,2: 0-4,"16,777","16,777",0,J,S,"247,715",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19103,99,Industries not classified,3: 5-9,360,360,"2,233",NaN,G,"23,943",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19104,99,Industries not classified,4: 10-19,86,86,"1,089",NaN,G,"9,110",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19105,99,Industries not classified,5: <20,"17,223","17,223",0,J,S,"280,768",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19106,99,Industries not classified,6: 20-99,20,20,595,NaN,G,"7,391",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19107,99,Industries not classified,8: <500,"17,243","17,243",0,J,S,"288,159",G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop unnecessary columns 
df2 = df[df.columns[:6]]
df2.head()

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,1: Total,"5,684,424","7,354,043","113,425,965"
4,--,Total,2: 0-4,"3,532,058","3,540,155","5,857,662"

In [5]:
#Change column names
df2.columns = ['NAICS Code', 'NAICS Description', 'Employment Size', 'Number of Firms', 'Number of Establishments',
       'Employees']

#Drop 'total' rows
df2008 = df2.drop(df2.index[[0,1, 2, 3, 4, 5, 6, 7, 8, 9, 10]])
df2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
11,--,Total,9: 500+,"17,671","1,191,985","58,427,653"
12,11,"Agriculture, forestry, fishing and hunting",1: Total,"20,642","21,340","156,520"
13,11,"Agriculture, forestry, fishing and hunting",2: 0-4,"14,281","14,285","21,291"
14,11,"Agriculture, forestry, fishing and hunting",3: 5-9,"3,371","3,374","21,976"
15,11,"Agriculture, forestry, fishing and hunting",4: 10-19,"1,669","1,678","21,812"
16,11,"Agriculture, forestry, fishing and hunting",5: <20,"19,321","19,337","65,079"
17,11,"Agriculture, forestry, fishing and hunting",6: 20-99,"1,007","1,114","36,542"
18,11,"Agriculture, forestry, fishing and hunting",7: 100-499,220,462,"29,970"
19,11,"Agriculture, forestry, fishing and hunting",8: <500,"20,548","20,913","131,591"
20,11,"Agriculture, forestry, fishing and hunting",9: 500+,94,427,"24,929"
21,113,Forestry and logging,1: Total,"8,477","8,616","53,034"
22,113,Forestry and logging,2: 0-4,"5,097","5,100","8,863"
23,113,Forestry and logging,3: 5-9,"1,930","1,930","12,764"
24,113,Forestry and logging,4: 10-19,971,971,"12,687"
25,113,Forestry and logging,5: <20,"7,998","8,001","34,314"
26,113,Forestry and logging,6: 20-99,427,435,"13,704"
27,113,Forestry and logging,7: 100-499,24,55,"1,801"
28,113,Forestry and logging,8: <500,"8,449","8,491","49,819"
29,113,Forestry and logging,9: 500+,28,125,"3,215"
30,1131,Timber tract operations,1: Total,373,387,"2,002"
31,1131,Timber tract operations,2: 0-4,260,262,385
32,1131,Timber tract operations,3: 5-9,52,52,326
33,1131,Timber tract operations,4: 10-19,28,28,367
34,1131,Timber tract operations,5: <20,340,342,"1,078"
35,1131,Timber tract operations,6: 20-99,14,16,382
36,1131,Timber tract operations,7: 100-499,4,8,0
37,1131,Timber tract operations,8: <500,358,366,"1,508"
38,1131,Timber tract operations,9: 500+,15,21,494
39,11311,Timber tract operations,1: Total,373,387,"2,002"
40,11311,Timber tract operations,2: 0-4,260,262,385
...,...,...,...,...,...,...
19078,813940,Political organizations,5: <20,"2,089","2,089","4,706"
19079,813940,Political organizations,6: 20-99,65,68,"2,235"
19080,813940,Political organizations,7: 100-499,3,3,0
19081,813940,Political organizations,8: <500,"2,157","2,160","7,636"
19082,813940,Political organizations,9: 500+,1,1,0
19083,81399,"Other similar organizations (except business, ...",1: Total,"20,124","20,425","133,672"
19084,81399,"Other similar organizations (except business, ...",2: 0-4,"13,626","13,627","23,154"
19085,81399,"Other similar organizations (except business, ...",3: 5-9,"3,148","3,151","21,224"
19086,81399,"Other similar organizations (except business, ...",4: 10-19,"2,092","2,096","27,604"
19087,81399,"Other similar organizations (except business, ...",5: <20,"18,866","18,874","71,982"
19088,81399,"Other similar organizations (except business, ...",6: 20-99,"1,114","1,174","38,196"
19089,81399,"Other similar organizations (except business, ...",7: 100-499,118,279,"16,967"
19090,81399,"Other similar organizations (except business, ...",8: <500,"20,098","20,327","127,145"
19091,81399,"Other similar organizations (except business, ...",9: 500+,26,98,"6,527"
19092,813990,"Other similar organizations (except business, ...",1: Total,"20,124","20,425","133,672"
19093,813990,"Other similar organizations (except business, ...",2: 0-4,"13,626","13,627","23,154"
19094,813990,"Other similar organizations (except business, ...",3: 5-9,"3,148","3,151","21,224"
19095,813990,"Other similar organizations (except business, ...",4: 10-19,"2,092","2,096","27,604"
19096,813990,"Other similar organizations (except business, ...",5: <20,"18,866","18,874","71,982"
19097,813990,"Other similar organizations (except business, ...",6: 20-99,"1,114","1,174","38,196"
19098,813990,"Other similar organizations (except business, ...",7: 100-499,118,279,"16,967"
19099,813990,"Other similar organizations (except business, ...",8: <500,"20,098","20,327","127,145"
19100,813990,"Other similar organizations (except business, ...",9: 500+,26,98,"6,527"
19101,99,Industries not classified,1: Total,"17,243","17,243",0
19102,99,Industries not classified,2: 0-4,"16,777","16,777",0
19103,99,Industries not classified,3: 5-9,360,360,"2,233"
19104,99,Industries not classified,4: 10-19,86,86,"1,089"
19105,99,Industries not classified,5: <20,"17,223","17,223",0
19106,99,Industries not classified,6: 20-99,20,20,595
19107,99,Industries not classified,8: <500,"17,243","17,243",0

In [6]:
newdf2008=df2008.loc[df2008['NAICS Code'].isin(["442", "443", "4451","448"])]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10076,442,Furniture and home furnishings stores,1: Total,"36,244","52,703","424,221"
10077,442,Furniture and home furnishings stores,2: 0-4,"22,070","22,229","43,318"
10078,442,Furniture and home furnishings stores,3: 5-9,"7,984","8,344","52,118"
10079,442,Furniture and home furnishings stores,4: 10-19,"3,835","4,620","49,476"
10080,442,Furniture and home furnishings stores,5: <20,"33,889","35,193","144,912"
10081,442,Furniture and home furnishings stores,6: 20-99,"1,952","4,125","62,613"
10082,442,Furniture and home furnishings stores,7: 100-499,294,"2,453","33,907"
10083,442,Furniture and home furnishings stores,8: <500,"36,135","41,771","241,432"
10084,442,Furniture and home furnishings stores,9: 500+,109,"10,932","182,789"
10166,443,Electronics and appliance stores,1: Total,"27,074","49,068","434,297"
10167,443,Electronics and appliance stores,2: 0-4,"17,790","17,910",0
10168,443,Electronics and appliance stores,3: 5-9,"5,218","5,460","34,713"
10169,443,Electronics and appliance stores,4: 10-19,"2,496","3,062","32,985"
10170,443,Electronics and appliance stores,5: <20,"25,504","26,432","100,796"
10171,443,Electronics and appliance stores,6: 20-99,"1,292","2,936","43,714"
10172,443,Electronics and appliance stores,7: 100-499,198,"2,416","22,268"
10173,443,Electronics and appliance stores,8: <500,"26,994","31,784","166,778"
10174,443,Electronics and appliance stores,9: 500+,80,"17,284",0
10391,4451,Grocery stores,1: Total,"66,729","93,282","2,542,436"
10392,4451,Grocery stores,2: 0-4,"42,418","42,477","74,638"
10393,4451,Grocery stores,3: 5-9,"9,749","9,833","63,856"
10394,4451,Grocery stores,4: 10-19,"6,392","6,554","85,383"
10395,4451,Grocery stores,5: <20,"58,559","58,864","223,877"
10396,4451,Grocery stores,6: 20-99,"6,667","7,578","263,662"
10397,4451,Grocery stores,7: 100-499,"1,147","3,522","188,605"
10398,4451,Grocery stores,8: <500,"66,373","69,964","676,144"
10399,4451,Grocery stores,9: 500+,356,"23,318","1,866,292"
10715,448,Clothing and clothing accessories stores,1: Total,"60,017","148,084","1,659,696"
10716,448,Clothing and clothing accessories stores,2: 0-4,"39,972","40,213","75,866"
10717,448,Clothing and clothing accessories stores,3: 5-9,"12,052","12,511","79,171"
10718,448,Clothing and clothing accessories stores,4: 10-19,"4,987","5,824","65,065"
10719,448,Clothing and clothing accessories stores,5: <20,"57,011","58,548","220,102"
10720,448,Clothing and clothing accessories stores,6: 20-99,"2,354","5,260","77,996"
10721,448,Clothing and clothing accessories stores,7: 100-499,374,"4,641","51,248"
10722,448,Clothing and clothing accessories stores,8: <500,"59,739","68,449","349,346"
10723,448,Clothing and clothing accessories stores,9: 500+,278,"79,635","1,310,350"

In [7]:
newdf2008=newdf2008.loc[(newdf2008["Employment Size"].isin(["1:   Total"]))]
newdf2008

,NAICS Code,NAICS Description,Employment Size,Number of Firms,Number of Establishments,Employees
10076,442,Furniture and home furnishings stores,1: Total,"36,244","52,703","424,221"
10166,443,Electronics and appliance stores,1: Total,"27,074","49,068","434,297"
10391,4451,Grocery stores,1: Total,"66,729","93,282","2,542,436"
10715,448,Clothing and clothing accessories stores,1: Total,"60,017","148,084","1,659,696"

In [8]:
clean2011 = newdf2008.drop(columns=['Employment Size', 'Number of Firms'])
clean2011

,NAICS Code,NAICS Description,Number of Establishments,Employees
10076,442,Furniture and home furnishings stores,"52,703","424,221"
10166,443,Electronics and appliance stores,"49,068","434,297"
10391,4451,Grocery stores,"93,282","2,542,436"
10715,448,Clothing and clothing accessories stores,"148,084","1,659,696"

In [9]:
clean2011.to_csv("../clean_data/Output/CleanData2011.csv", index = False)