In [1]:
import os 
import csv 
import pandas as pd

In [2]:
datapath = ("../raw_data/retaildata_2014.csv")
datafile = pd.read_csv(datapath, encoding="ISO-8859-1")

In [3]:
df=pd.DataFrame(datafile)
df

,Table with row headers in column A and column headers in rows 5 through 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,--,Total,01: Total,"5,825,458","7,563,084","121,069,944",NaN,G,"5,940,186,911",G
4,--,Total,02: 0-4,"3,598,185","3,603,935","5,940,248",NaN,G,"251,757,114",G
5,--,Total,03: 5-9,"998,953","1,010,467","6,570,776",NaN,G,"235,546,762",G
6,--,Total,04: 10-19,"608,502","641,096","8,176,519",NaN,G,"309,924,445",G
7,--,Total,05: <20,"5,205,640","5,255,498","20,687,543",NaN,G,"797,228,321",G
8,--,Total,06: 20-99,"513,179","690,583","20,121,588",NaN,G,"838,405,832",G
9,--,Total,07: 100-499,"87,563","360,894","17,085,461",NaN,G,"803,652,747",G
10,--,Total,08: <500,"5,806,382","6,306,975","57,894,592",NaN,G,"2,439,286,900",G
11,--,Total,09: 500+,"19,076","1,256,109","63,175,352",NaN,G,"3,500,900,011",G
12,11,"Agriculture, Forestry, Fishing and Hunting",01: Total,"21,162","21,844","156,363",NaN,G,"6,180,991",G
13,11,"Agriculture, Forestry, Fishing and Hunting",02: 0-4,"14,653","14,655","21,582",NaN,H,"881,566",G
14,11,"Agriculture, Forestry, Fishing and Hunting",03: 5-9,"3,424","3,426","22,281",NaN,G,"828,727",G
15,11,"Agriculture, Forestry, Fishing and Hunting",04: 10-19,"1,675","1,680","22,049",NaN,G,"879,474",G
16,11,"Agriculture, Forestry, Fishing and Hunting",05: <20,"19,752","19,761","65,912",NaN,G,"2,589,767",G
17,11,"Agriculture, Forestry, Fishing and Hunting",06: 20-99,"1,115","1,192","40,204",NaN,G,"1,652,655",G
18,11,"Agriculture, Forestry, Fishing and Hunting",07: 100-499,208,460,"27,588",NaN,G,"940,422",G
19,11,"Agriculture, Forestry, Fishing and Hunting",08: <500,"21,075","21,413","133,704",NaN,G,"5,182,844",G
20,11,"Agriculture, Forestry, Fishing and Hunting",09: 500+,87,431,"22,659",NaN,G,"998,147",H
21,113,Forestry and Logging,01: Total,"8,399","8,557","54,183",NaN,G,"2,344,844",G
22,113,Forestry and Logging,02: 0-4,"5,041","5,041","8,902",NaN,G,"322,013",G
23,113,Forestry and Logging,03: 5-9,"1,871","1,871","12,243",NaN,G,"445,805",G
24,113,Forestry and Logging,04: 10-19,953,953,"12,564",NaN,G,"498,338",G
25,113,Forestry and Logging,05: <20,"7,865","7,865","33,709",NaN,G,"1,266,156",G
26,113,Forestry and Logging,06: 20-99,481,485,"15,276",NaN,G,"695,980",G
27,113,Forestry and Logging,07: 100-499,25,55,"1,858",NaN,G,"78,741",G
28,113,Forestry and Logging,08: <500,"8,371","8,405","50,843",NaN,G,"2,040,877",G
29,113,Forestry and Logging,09: 500+,28,152,"3,340",NaN,H,"303,967",H
...,...,...,...,...,...,...,...,...,...,...
18011,813940,Political Organizations,06: 20-99,79,81,"3,034",NaN,G,"169,246",G
18012,813940,Political Organizations,07: 100-499,4,4,456,NaN,G,"34,308",G
18013,813940,Political Organizations,08: <500,"2,767","2,770","10,123",NaN,G,"565,637",G
18014,813940,Political Organizations,09: 500+,1,1,0,G,D,0,D
18015,81399,"Other Similar Organizations (except Business, ...",01: Total,"19,950","20,237","133,893",NaN,G,"5,288,216",G
18016,81399,"Other Similar Organizations (except Business, ...",02: 0-4,"13,545","13,546","23,026",NaN,H,"705,940",G
18017,81399,"Other Similar Organizations (except Business, ...",03: 5-9,"3,114","3,115","21,017",NaN,G,"731,895",G
18018,81399,"Other Similar Organizations (except Business, ...",04: 10-19,"2,054","2,060","27,073",NaN,G,"1,017,725",G
18019,81399,"Other Similar Organizations (except Business, ...",05: <20,"18,713","18,721","71,116",NaN,G,"2,455,560",G
18020,81399,"Other Similar Organizations (except Business, ...",06: 20-99,"1,085","1,129","37,171",NaN,G,"1,350,873",G
18021,81399,"Other Similar Organizations (except Business, ...",07: 100-499,126,293,"18,841",NaN,G,"964,935",G
18022,81399,"Other Similar Organizations (except Business, ...",08: <500,"19,924","20,143","127,128",NaN,G,"4,771,368",G
18023,81399,"Other Similar Organizations (except Business, ...",09: 500+,26,94,"6,765",NaN,H,"516,848",H
18024,813990,"Other Similar Organizations (except Business, ...",01: Total,"19,950","20,237","133,893",NaN,G,"5,288,216",G
18025,813990,"Other Similar Organizations (except Business, ...",02: 0-4,"13,545","13,546","23,026",NaN,H,"705,940",G
18026,813990,"Other Similar Organizations (except Business, ...",03: 5-9,"3,114","3,115","21,017",NaN,G,"731,895",G
18027,813990,"Other Similar Organizations (except Business, ...",04: 10-19,"2,054","2,060","27,073",NaN,G,"1,017,725",G
18028,813990,"Other Similar Organizations (except Business, ...",05: <20,"18,713","18,721","71,116",NaN,G,"2,455,560",G
18029,813990,"Other Similar Organizations (except Business, ...",06: 20-99,"1,085","1,129","37,171",NaN,G,"1,350,873",G
18030,813990,"Other Similar Organizations (except Business, ...",07: 100-499,126,293,"18,841",NaN,G,"964,935",G
18031,813990,"Other Similar Organizations (except Business, ...",08: <500,"19,924","20,143","127,128",NaN,G,"4,771,368",G
18032,813990,"Other Similar Organizations (except Business, ...",09: 500+,26,94,"6,765",NaN,H,"516,848",H
18033,99,Industries not classified,01: Total,"16,535","16,535",0,J,S,"407,602",G
18034,99,Industries not classified,02: 0-4,"15,924","15,924",0,J,S,"331,255",G
18035,99,Industries not classified,03: 5-9,485,485,"3,027",NaN,G,"47,552",G
18036,99,Industries not classified,04: 10-19,101,101,"1,249",NaN,G,"16,115",G
18037,99,Industries not classified,05: <20,"16,510","16,510",0,J,S,"394,922",G
18038,99,Industries not classified,06: 20-99,24,24,739,NaN,G,"6,876",G
18039,99,Industries not classified,07: 100-499,1,1,0,C,D,0,D
18040,99,Industries not classified,08: <500,"16,535","16,535",0,J,S,"407,602",G

In [6]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0])

In [7]:
df.columns

Index([' NAICS   CODE ', 'NAICS DESCRIPTION', 'ENTERPRISE EMPLOYMENT SIZE',
       'NUMBER OF FIRMS', 'NUMBER OF ESTABLISHMENTS', 'EMPLOYMENT',
       'EMPLOYMENT RANGE FLAG', 'EMPLOYMENT NOISE FLAG',
       'ANNUAL PAYROLL ($1,000)', 'ANNUAL PAYROLL NOISE FLAG'],
      dtype='object')

In [8]:
df2014= df.loc[df[' NAICS   CODE '].isin(["442", "443","4451","448"])]
df2014

,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG
9134,442,Furniture and Home Furnishings Stores,01: Total,"33,376","50,595","429,073",NaN,G,"12,836,584",G
9135,442,Furniture and Home Furnishings Stores,02: 0-4,"19,764","19,830","39,326",NaN,H,"1,088,355",G
9136,442,Furniture and Home Furnishings Stores,03: 5-9,"7,622","7,867","49,825",NaN,G,"1,482,606",G
9137,442,Furniture and Home Furnishings Stores,04: 10-19,"3,740","4,458","47,890",NaN,G,"1,599,074",G
9138,442,Furniture and Home Furnishings Stores,05: <20,"31,126","32,155","137,041",NaN,G,"4,170,035",G
9139,442,Furniture and Home Furnishings Stores,06: 20-99,"1,858","3,983","60,144",NaN,G,"2,278,568",G
9140,442,Furniture and Home Furnishings Stores,07: 100-499,265,"2,383","31,016",NaN,G,"1,174,542",G
9141,442,Furniture and Home Furnishings Stores,08: <500,"33,249","38,521","228,201",NaN,G,"7,623,145",G
9142,442,Furniture and Home Furnishings Stores,09: 500+,127,"12,074","200,872",NaN,G,"5,213,439",G
9224,443,Electronics and Appliance Stores,01: Total,"25,471","46,760","409,802",NaN,H,"11,319,059",H
9225,443,Electronics and Appliance Stores,02: 0-4,"16,651","16,734",0,K,S,"799,011",H
9226,443,Electronics and Appliance Stores,03: 5-9,"4,982","5,116","33,092",NaN,H,"879,695",G
9227,443,Electronics and Appliance Stores,04: 10-19,"2,224","2,638","29,539",NaN,H,"939,545",G
9228,443,Electronics and Appliance Stores,05: <20,"23,857","24,488","94,414",NaN,H,"2,618,251",H
9229,443,Electronics and Appliance Stores,06: 20-99,"1,312","3,234","44,920",NaN,G,"1,548,368",G
9230,443,Electronics and Appliance Stores,07: 100-499,211,"2,649","28,098",NaN,G,"881,710",G
9231,443,Electronics and Appliance Stores,08: <500,"25,380","30,371","167,432",NaN,H,"5,048,329",G
9232,443,Electronics and Appliance Stores,09: 500+,91,"16,389",0,M,S,"6,270,730",H
9413,4451,Grocery Stores,01: Total,"67,712","94,383","2,705,418",NaN,G,"58,411,895",G
9414,4451,Grocery Stores,02: 0-4,"42,473","42,529","75,482",NaN,G,"1,442,669",G
9415,4451,Grocery Stores,03: 5-9,"9,839","9,930","64,165",NaN,G,"1,045,015",G
9416,4451,Grocery Stores,04: 10-19,"6,679","6,893","89,493",NaN,G,"1,504,322",G
9417,4451,Grocery Stores,05: <20,"58,991","59,352","229,140",NaN,G,"3,992,006",G
9418,4451,Grocery Stores,06: 20-99,"7,174","8,205","279,460",NaN,G,"5,401,872",G
9419,4451,Grocery Stores,07: 100-499,"1,180","3,264","194,426",NaN,G,"3,897,702",G
9420,4451,Grocery Stores,08: <500,"67,345","70,821","703,026",NaN,G,"13,291,580",G
9421,4451,Grocery Stores,09: 500+,367,"23,562","2,002,392",NaN,G,"45,120,315",G
9737,448,Clothing and Clothing Accessories Stores,01: Total,"58,560","147,237","1,736,053",NaN,G,"30,321,033",G
9738,448,Clothing and Clothing Accessories Stores,02: 0-4,"38,204","38,383","73,742",NaN,H,"1,684,589",G
9739,448,Clothing and Clothing Accessories Stores,03: 5-9,"12,183","12,524","80,530",NaN,H,"1,786,795",G
9740,448,Clothing and Clothing Accessories Stores,04: 10-19,"5,005","5,859","65,391",NaN,G,"1,629,689",G
9741,448,Clothing and Clothing Accessories Stores,05: <20,"55,392","56,766","219,663",NaN,H,"5,101,073",G
9742,448,Clothing and Clothing Accessories Stores,06: 20-99,"2,470","5,531","80,938",NaN,G,"2,172,796",G
9743,448,Clothing and Clothing Accessories Stores,07: 100-499,407,"4,476","54,737",NaN,G,"1,411,959",G
9744,448,Clothing and Clothing Accessories Stores,08: <500,"58,269","66,773","355,338",NaN,G,"8,685,828",G
9745,448,Clothing and Clothing Accessories Stores,09: 500+,291,"80,464","1,380,715",NaN,G,"21,635,205",G

In [9]:
df['ENTERPRISE EMPLOYMENT SIZE']

1                 NaN
2                 NaN
3          01:  Total
4            02:  0-4
5            03:  5-9
6          04:  10-19
7            05:  <20
8          06:  20-99
9        07:  100-499
10          08:  <500
11          09:  500+
12         01:  Total
13           02:  0-4
14           03:  5-9
15         04:  10-19
16           05:  <20
17         06:  20-99
18       07:  100-499
19          08:  <500
20          09:  500+
21         01:  Total
22           02:  0-4
23           03:  5-9
24         04:  10-19
25           05:  <20
26         06:  20-99
27       07:  100-499
28          08:  <500
29          09:  500+
30         01:  Total
             ...
18011      06:  20-99
18012    07:  100-499
18013       08:  <500
18014       09:  500+
18015      01:  Total
18016        02:  0-4
18017        03:  5-9
18018      04:  10-19
18019        05:  <20
18020      06:  20-99
18021    07:  100-499
18022       08:  <500
18023       09:  500+
18024      01:  Total
18025        02:  0-4
18026        03:  5-9
18027      04:  10-19
18028        05:  <20
18029      06:  20-99
18030    07:  100-499
18031       08:  <500
18032       09:  500+
18033      01:  Total
18034        02:  0-4
18035        03:  5-9
18036      04:  10-19
18037        05:  <20
18038      06:  20-99
18039    07:  100-499
18040       08:  <500
Name: ENTERPRISE EMPLOYMENT SIZE, Length: 18040, dtype: object

In [10]:
df2014= df2014.loc[df2014['ENTERPRISE EMPLOYMENT SIZE'].isin(["01:  Total"])]
df2014

,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG
9134,442,Furniture and Home Furnishings Stores,01: Total,"33,376","50,595","429,073",NaN,G,"12,836,584",G
9224,443,Electronics and Appliance Stores,01: Total,"25,471","46,760","409,802",NaN,H,"11,319,059",H
9413,4451,Grocery Stores,01: Total,"67,712","94,383","2,705,418",NaN,G,"58,411,895",G
9737,448,Clothing and Clothing Accessories Stores,01: Total,"58,560","147,237","1,736,053",NaN,G,"30,321,033",G

In [11]:
clean2014 = df2014.drop(columns=['ENTERPRISE EMPLOYMENT SIZE', 'NUMBER OF FIRMS', 'EMPLOYMENT NOISE FLAG',
                                'ANNUAL PAYROLL NOISE FLAG', 'ANNUAL PAYROLL ($1,000)', 'EMPLOYMENT RANGE FLAG'
                                ])
clean2014

,NAICS CODE,NAICS DESCRIPTION,NUMBER OF ESTABLISHMENTS,EMPLOYMENT
9134,442,Furniture and Home Furnishings Stores,"50,595","429,073"
9224,443,Electronics and Appliance Stores,"46,760","409,802"
9413,4451,Grocery Stores,"94,383","2,705,418"
9737,448,Clothing and Clothing Accessories Stores,"147,237","1,736,053"

In [12]:
clean2014.columns

Index([' NAICS   CODE ', 'NAICS DESCRIPTION', 'NUMBER OF ESTABLISHMENTS',
       'EMPLOYMENT'],
      dtype='object')

In [13]:
clean2014=clean2014.rename(columns={' NAICS   CODE ':'code',
                                   'NAICS DESCRIPTION': 'description',
                                   'NUMBER OF ESTABLISHMENTS':'establishments',
                                    'EMPLOYMENT':'employment'})
clean2014

      code                               description establishments employment
9134   442     Furniture and Home Furnishings Stores         50,595    429,073
9224   443          Electronics and Appliance Stores         46,760    409,802
9413  4451                            Grocery Stores         94,383  2,705,418
9737   448  Clothing and Clothing Accessories Stores        147,237  1,736,053

In [14]:
clean2014.to_csv("Output/clean_2014retail.csv", index=True, header=True)