In [1]:
import os 
import csv 
import pandas as pd

In [6]:
datapath = ("../raw_data/retaildata_2015.csv")
datafile = pd.read_csv(datapath, encoding="ISO-8859-1")

In [7]:
df=pd.DataFrame(datafile)
df

,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,--,Total,01: Total,"5,900,731","7,663,938","124,085,947",NaN,G,"6,253,488,252",G
3,--,Total,02: 0-4,"3,643,737","3,649,989","5,877,075",NaN,G,"263,152,063",G
4,--,Total,03: 5-9,"1,004,555","1,016,287","6,614,340",NaN,G,"243,719,141",G
5,--,Total,04: 10-19,"617,390","648,694","8,297,864",NaN,G,"321,846,938",G
6,--,Total,05: <20,"5,265,682","5,314,970","20,789,279",NaN,G,"828,718,142",G
7,--,Total,06: 20-99,"526,106","697,870","20,645,466",NaN,G,"876,330,967",G
8,--,Total,07: 100-499,"89,479","367,335","17,503,402",NaN,G,"846,259,493",G
9,--,Total,08: <500,"5,881,267","6,380,175","58,938,147",NaN,G,"2,551,308,602",G
10,--,Total,09: 500+,"19,464","1,283,763","65,147,800",NaN,G,"3,702,179,650",G
11,11,"Agriculture, Forestry, Fishing and Hunting",01: Total,"21,676","22,368","160,144",NaN,G,"6,530,968",G
12,11,"Agriculture, Forestry, Fishing and Hunting",02: 0-4,"15,048","15,050","21,893",NaN,G,"952,211",G
13,11,"Agriculture, Forestry, Fishing and Hunting",03: 5-9,"3,473","3,475","22,700",NaN,G,"844,567",G
14,11,"Agriculture, Forestry, Fishing and Hunting",04: 10-19,"1,691","1,698","22,280",NaN,G,"893,412",G
15,11,"Agriculture, Forestry, Fishing and Hunting",05: <20,"20,212","20,223","66,873",NaN,G,"2,690,190",G
16,11,"Agriculture, Forestry, Fishing and Hunting",06: 20-99,"1,171","1,247","42,022",NaN,G,"1,747,806",G
17,11,"Agriculture, Forestry, Fishing and Hunting",07: 100-499,201,444,"27,359",NaN,G,"997,601",G
18,11,"Agriculture, Forestry, Fishing and Hunting",08: <500,"21,584","21,914","136,254",NaN,G,"5,435,597",G
19,11,"Agriculture, Forestry, Fishing and Hunting",09: 500+,92,454,"23,890",NaN,G,"1,095,371",H
20,113,Forestry and Logging,01: Total,"8,602","8,754","56,169",NaN,G,"2,537,206",G
21,113,Forestry and Logging,02: 0-4,"5,193","5,193","9,041",NaN,G,"344,719",G
22,113,Forestry and Logging,03: 5-9,"1,915","1,915","12,607",NaN,G,"466,543",G
23,113,Forestry and Logging,04: 10-19,943,943,"12,460",NaN,G,"506,584",G
24,113,Forestry and Logging,05: <20,"8,051","8,051","34,108",NaN,G,"1,317,846",G
25,113,Forestry and Logging,06: 20-99,497,500,"15,717",NaN,G,"721,613",G
26,113,Forestry and Logging,07: 100-499,24,34,"1,729",NaN,H,"90,103",H
27,113,Forestry and Logging,08: <500,"8,572","8,585","51,554",NaN,G,"2,129,562",G
28,113,Forestry and Logging,09: 500+,30,169,"4,615",NaN,H,"407,644",H
29,1131,Timber Tract Operations,01: Total,429,473,"3,666",NaN,H,"233,839",H
...,...,...,...,...,...,...,...,...,...,...
18066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index([' NAICS   CODE ', 'NAICS DESCRIPTION', 'ENTERPRISE EMPLOYMENT SIZE',
       'NUMBER OF FIRMS', 'NUMBER OF ESTABLISHMENTS', 'EMPLOYMENT',
       'EMPLOYMENT RANGE FLAG', 'EMPLOYMENT NOISE FLAG',
       'ANNUAL PAYROLL ($1,000)', 'ANNUAL PAYROLL NOISE FLAG'],
      dtype='object')

In [30]:
df2015= df.loc[df[' NAICS   CODE '].isin(["442", "443","4451","448"])]
df2015

,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG
9134,442,Furniture and Home Furnishings Stores,01: Total,"33,120","50,336","445,240",NaN,G,"13,606,349",G
9135,442,Furniture and Home Furnishings Stores,02: 0-4,"19,609","19,683","37,856",NaN,G,"1,129,971",G
9136,442,Furniture and Home Furnishings Stores,03: 5-9,"7,501","7,760","48,957",NaN,G,"1,525,431",G
9137,442,Furniture and Home Furnishings Stores,04: 10-19,"3,737","4,354","48,371",NaN,G,"1,699,166",G
9138,442,Furniture and Home Furnishings Stores,05: <20,"30,847","31,797","135,184",NaN,G,"4,354,568",G
9139,442,Furniture and Home Furnishings Stores,06: 20-99,"1,881","4,019","61,395",NaN,G,"2,423,434",G
9140,442,Furniture and Home Furnishings Stores,07: 100-499,262,"2,293","30,340",NaN,G,"1,232,320",G
9141,442,Furniture and Home Furnishings Stores,08: <500,"32,990","38,109","226,919",NaN,G,"8,010,322",G
9142,442,Furniture and Home Furnishings Stores,09: 500+,130,"12,227","218,321",NaN,G,"5,596,027",G
9224,443,Electronics and Appliance Stores,01: Total,"24,991","46,731","407,409",NaN,H,"11,777,212",H
9225,443,Electronics and Appliance Stores,02: 0-4,"16,191","16,256","31,110",NaN,J,"813,420",H
9226,443,Electronics and Appliance Stores,03: 5-9,"4,988","5,120","33,345",NaN,H,"912,942",G
9227,443,Electronics and Appliance Stores,04: 10-19,"2,194","2,587","29,010",NaN,H,"954,973",H
9228,443,Electronics and Appliance Stores,05: <20,"23,373","23,963","93,465",NaN,H,"2,681,335",H
9229,443,Electronics and Appliance Stores,06: 20-99,"1,327","3,085","46,535",NaN,H,"1,646,049",G
9230,443,Electronics and Appliance Stores,07: 100-499,205,"2,985","28,737",NaN,G,"911,836",G
9231,443,Electronics and Appliance Stores,08: <500,"24,905","30,033","168,737",NaN,H,"5,239,220",G
9232,443,Electronics and Appliance Stores,09: 500+,86,"16,698","238,672",NaN,J,"6,537,992",H
9413,4451,Grocery Stores,01: Total,"68,378","95,514","2,800,048",NaN,G,"61,188,777",G
9414,4451,Grocery Stores,02: 0-4,"43,096","43,177","74,815",NaN,H,"1,535,738",G
9415,4451,Grocery Stores,03: 5-9,"9,781","9,869","64,077",NaN,G,"1,081,298",G
9416,4451,Grocery Stores,04: 10-19,"6,778","6,979","90,939",NaN,G,"1,579,353",G
9417,4451,Grocery Stores,05: <20,"59,655","60,025","229,831",NaN,G,"4,196,389",G
9418,4451,Grocery Stores,06: 20-99,"7,183","8,182","280,416",NaN,G,"5,604,787",G
9419,4451,Grocery Stores,07: 100-499,"1,170","3,223","193,417",NaN,G,"4,046,404",G
9420,4451,Grocery Stores,08: <500,"68,008","71,430","703,664",NaN,G,"13,847,580",G
9421,4451,Grocery Stores,09: 500+,370,"24,084","2,096,384",NaN,G,"47,341,197",G
9737,448,Clothing and Clothing Accessories Stores,01: Total,"57,663","146,694","1,711,022",NaN,G,"31,357,317",G
9738,448,Clothing and Clothing Accessories Stores,02: 0-4,"37,374","37,528","71,143",NaN,H,"1,689,051",G
9739,448,Clothing and Clothing Accessories Stores,03: 5-9,"12,034","12,390","79,723",NaN,H,"1,812,418",G
9740,448,Clothing and Clothing Accessories Stores,04: 10-19,"5,115","5,988","67,222",NaN,G,"1,703,311",G
9741,448,Clothing and Clothing Accessories Stores,05: <20,"54,523","55,906","218,088",NaN,H,"5,204,780",G
9742,448,Clothing and Clothing Accessories Stores,06: 20-99,"2,448","5,350","80,100",NaN,G,"2,197,130",G
9743,448,Clothing and Clothing Accessories Stores,07: 100-499,405,"4,739","51,914",NaN,G,"1,486,648",G
9744,448,Clothing and Clothing Accessories Stores,08: <500,"57,376","65,995","350,102",NaN,G,"8,888,558",G
9745,448,Clothing and Clothing Accessories Stores,09: 500+,287,"80,699","1,360,920",NaN,H,"22,468,759",G

In [27]:
df['ENTERPRISE EMPLOYMENT SIZE']

0                 NaN
1                 NaN
2          01:  Total
3            02:  0-4
4            03:  5-9
5          04:  10-19
6            05:  <20
7          06:  20-99
8        07:  100-499
9           08:  <500
10          09:  500+
11         01:  Total
12           02:  0-4
13           03:  5-9
14         04:  10-19
15           05:  <20
16         06:  20-99
17       07:  100-499
18          08:  <500
19          09:  500+
20         01:  Total
21           02:  0-4
22           03:  5-9
23         04:  10-19
24           05:  <20
25         06:  20-99
26       07:  100-499
27          08:  <500
28          09:  500+
29         01:  Total
             ...
18066             NaN
18067             NaN
18068             NaN
18069             NaN
18070             NaN
18071             NaN
18072             NaN
18073             NaN
18074             NaN
18075             NaN
18076             NaN
18077             NaN
18078             NaN
18079             NaN
18080             NaN
18081             NaN
18082             NaN
18083             NaN
18084             NaN
18085             NaN
18086             NaN
18087             NaN
18088             NaN
18089             NaN
18090             NaN
18091             NaN
18092             NaN
18093             NaN
18094             NaN
18095             NaN
Name: ENTERPRISE EMPLOYMENT SIZE, Length: 18096, dtype: object

In [31]:
df2015= df2015.loc[df2015['ENTERPRISE EMPLOYMENT SIZE'].isin(["01:  Total"])]
df2015

,NAICS CODE,NAICS DESCRIPTION,ENTERPRISE EMPLOYMENT SIZE,NUMBER OF FIRMS,NUMBER OF ESTABLISHMENTS,EMPLOYMENT,EMPLOYMENT RANGE FLAG,EMPLOYMENT NOISE FLAG,"ANNUAL PAYROLL ($1,000)",ANNUAL PAYROLL NOISE FLAG
9134,442,Furniture and Home Furnishings Stores,01: Total,"33,120","50,336","445,240",NaN,G,"13,606,349",G
9224,443,Electronics and Appliance Stores,01: Total,"24,991","46,731","407,409",NaN,H,"11,777,212",H
9413,4451,Grocery Stores,01: Total,"68,378","95,514","2,800,048",NaN,G,"61,188,777",G
9737,448,Clothing and Clothing Accessories Stores,01: Total,"57,663","146,694","1,711,022",NaN,G,"31,357,317",G

In [34]:
clean2015 = df2015.drop(columns=['ENTERPRISE EMPLOYMENT SIZE', 'NUMBER OF FIRMS', 'EMPLOYMENT NOISE FLAG',
                                'ANNUAL PAYROLL NOISE FLAG', 'ANNUAL PAYROLL ($1,000)', 'EMPLOYMENT RANGE FLAG'
                                ])
clean2015

,NAICS CODE,NAICS DESCRIPTION,NUMBER OF ESTABLISHMENTS,EMPLOYMENT
9134,442,Furniture and Home Furnishings Stores,"50,336","445,240"
9224,443,Electronics and Appliance Stores,"46,731","407,409"
9413,4451,Grocery Stores,"95,514","2,800,048"
9737,448,Clothing and Clothing Accessories Stores,"146,694","1,711,022"

In [36]:
clean2015.columns

Index([' NAICS   CODE ', 'NAICS DESCRIPTION', 'NUMBER OF ESTABLISHMENTS',
       'EMPLOYMENT'],
      dtype='object')

In [38]:
clean2015=clean2015.rename(columns={' NAICS   CODE ':'code',
                                   'NAICS DESCRIPTION': 'description',
                                   'NUMBER OF ESTABLISHMENTS':'establishments',
                                    'EMPLOYMENT':'employment'})
clean2015

      code                               description establishments employment
9134   442     Furniture and Home Furnishings Stores         50,336    445,240
9224   443          Electronics and Appliance Stores         46,731    407,409
9413  4451                            Grocery Stores         95,514  2,800,048
9737   448  Clothing and Clothing Accessories Stores        146,694  1,711,022

In [39]:
clean2015.to_csv("Output/clean_2015retail.csv", index=True, header=True)